In [1]:
# import dependencies
import requests
import pandas as pd
import numpy as np
import openpyxl

In [2]:
#format list for the dataframe
key = '6924a24c5e8fd68ab4c75b8911dde245'
state_ids = ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL',
             'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA',
             'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE',
             'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK',
             'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT',
             'VA', 'WA', 'WI', 'WV', 'WY']

In [3]:
#create dataframe and read in the two json files holding personal expenditures and personal income per capita
for x in state_ids:
  HCPC = f"https://api.stlouisfed.org/fred/series/observations?series_id={x}PCEPCHLTHCARE&api_key={key}&file_type=json"
  RINCPC = f"https://api.stlouisfed.org/fred/series/observations?series_id={x}RPIPC&api_key={key}&file_type=json"
  response = requests.get(RINCPC)
  series = pd.DataFrame(response.json()["observations"])
  series["value"] = series.rename(columns={'value': x}, inplace=True)
  series = series[['date', x]]
  if x == state_ids[0]:
    df = series
  else:
    df = pd.merge(df, series, on='date', how='inner')

In [4]:
#print dataframe to csv - real income - has income per capita income per state
df.to_csv('realincome.csv', encoding='utf-8', index=False)

In [5]:
income_csv = pd.read_csv('realincome.csv')
income_csv

,date,AL,AK,AZ,AR,CA,CO,CT,DE,FL,...,SD,TN,TX,UT,VT,VA,WA,WI,WV,WY
0,2008-01-01,42242,51624,38967,40983,43801,46677,61514,45923,43264,...,53966,42800,46111,39101,45363,49384,47357,46757,40351,58234
1,2009-01-01,41995,50046,36641,40970,42404,44290,60539,45268,41222,...,51592,42858,43378,35790,44683,48503,44859,45576,41150,51850
2,2010-01-01,41757,53121,37162,40280,43519,44902,63476,44779,42760,...,51386,42936,44111,36432,46082,48535,45638,45543,40655,53752
3,2011-01-01,41849,54738,38384,41286,44858,45642,62986,47058,43276,...,55027,43816,46689,36776,47570,49648,46298,47258,41704,55954
4,2012-01-01,41617,55069,39253,43016,46170,46712,62599,46587,43193,...,52730,44341,47581,37963,47494,50704,48625,47869,41807,58962
5,2013-01-01,41356,53511,39171,42407,45839,47730,60177,46599,42278,...,52096,43980,47335,38301,47120,48674,48421,47518,40670,56738
6,2014-01-01,42010,55466,40235,44095,47491,50254,62124,46908,43817,...,53856,44719,48987,39622,49298,49591,49895,48519,41592,59527
7,2015-01-01,43835,56504,41903,45429,50074,51326,63350,49657,45696,...,56578,46540,49009,42061,49460,51300,51713,50674,42149,59581
8,2016-01-01,43577,54409,42530,45891,51845,50932,64059,49888,46131,...,56333,46690,47705,43390,50635,52229,52455,50962,42098,55726
9,2017-01-01,44472,54005,44250,46835,52604,52739,64665,50850,48133,...,56740,47828,49944,43710,49930,53826,52990,51771,43731,58146
10,2018-01-01,46441,55410,45656,48479,53481,56587,68093,52109,49932,...,55499,50874,51578,46524,50638,54030,54841,52805,45021,62945
11,2019-01-01,47123,56881,47219,48268,55915,57850,69110,52615,52072,...,57344,51841,52351,47932,52739,56432,56828,53670,46591,63624
12,2020-01-01,50207,58532,50355,51209,60011,59863,70544,55233,53888,...,62351,54946,53456,52063,54402,58311,60169,57334,49453,68414
13,2021-01-01,52290,57623,53694,53390,63271,64282,72206,55553,57193,...,66784,57819,56565,55448,57077,60057,62680,59557,49594,70876
14,2022-01-01,50053,58069,50480,52430,59103,63875,67254,55709,54746,...,66857,54794,55382,54307,53806,58281,59175,57465,48337,68772

In [6]:
income_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 51 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    15 non-null     object
 1   AL      15 non-null     int64
 2   AK      15 non-null     int64
 3   AZ      15 non-null     int64
 4   AR      15 non-null     int64
 5   CA      15 non-null     int64
 6   CO      15 non-null     int64
 7   CT      15 non-null     int64
 8   DE      15 non-null     int64
 9   FL      15 non-null     int64
 10  GA      15 non-null     int64
 11  HI      15 non-null     int64
 12  ID      15 non-null     int64
 13  IL      15 non-null     int64
 14  IN      15 non-null     int64
 15  IA      15 non-null     int64
 16  KS      15 non-null     int64
 17  KY      15 non-null     int64
 18  LA      15 non-null     int64
 19  ME      15 non-null     int64
 20  MD      15 non-null     int64
 21  MA      15 non-null     int64
 22  MI      15 non-null     int64
 23  MN      15 non-null     int64
 24  MS      15 non-null     int64
 25  MO      15 non-null     int64
 26  MT      15 non-null     int64
 27  NE      15 non-null     int64
 28  NV      15 non-null     int64
 29  NH      15 non-null     int64
 30  NJ      15 non-null     int64
 31  NM      15 non-null     int64
 32  NY      15 non-null     int64
 33  NC      15 non-null     int64
 34  ND      15 non-null     int64
 35  OH      15 non-null     int64
 36  OK      15 non-null     int64
 37  OR      15 non-null     int64
 38  PA      15 non-null     int64
 39  RI      15 non-null     int64
 40  SC      15 non-null     int64
 41  SD      15 non-null     int64
 42  TN      15 non-null     int64
 43  TX      15 non-null     int64
 44  UT      15 non-null     int64
 45  VT      15 non-null     int64
 46  VA      15 non-null     int64
 47  WA      15 non-null     int64
 48  WI      15 non-null     int64
 49  WV      15 non-null     int64
 50  WY      15 non-null     int64
dtypes: int64(50), object(1)
memory usage: 6.1+ KB

In [7]:
#create dataframe and read in the two json files holding personal expenditures and personal income per capita
for x in state_ids:
  HCPC = f"https://api.stlouisfed.org/fred/series/observations?series_id={x}PCEPCHLTHCARE&api_key={key}&file_type=json"
  RINCPC = f"https://api.stlouisfed.org/fred/series/observations?series_id={x}RPIPC&api_key={key}&file_type=json"
  response = requests.get(HCPC)
  series = pd.DataFrame(response.json()["observations"])
  series["value"] = series.rename(columns={'value': x}, inplace=True)
  series = series[['date', x]]
  if x == state_ids[0]:
    df = series
  else:
    df = pd.merge(df, series, on='date', how='inner')

In [8]:
df.to_csv('healthexpenditures.csv', encoding='utf-8', index=False)

In [10]:
cms_wb = openpyxl.load_workbook('Residence_all_tables.xlsx')
Ws = cms_wb.sheetnames

In [11]:
print(Ws)

['Contents', 'Table 1 Personal Health Care', 'Table 2 Hospital', 'Table 3 Physician and Clinics', 'Table 4 Other Professionals', 'Table 5 Dental', 'Table 6 Home Health', 'Table 7 Nursing', 'Table 8 Drugs and Non-durables', 'Table 9 Durables', 'Table 10 Other Health', 'Table 11 Personal Health Care', 'Table 12 Hospital', 'Table 13 Physician and Clinics', 'Table 14 Other Professionals', 'Table 15 Dental', 'Table 16 Home Health', 'Table 17 Nursing', 'Table 18 Drugs and Non-durables', 'Table 19 Durables', 'Table 20 Other Health', 'Table 21 Population', 'Table 22 Medicare', 'Table 23 Medicare Per Enrollee', 'Table 24 Medicare Enrollment', 'Table 25 Medicaid', 'Table 26 Medicaid Per Enrollee', 'Table 27 Medicaid Enrollment', 'Table 28 Private Health', 'Table 29 Private Per Enrollee', 'Table 30 Private Enrollment']

In [12]:
keep_sheets = ['Table 29 Private Per Enrollee']
for sheetName in cms_wb.sheetnames:
    if sheetName not in keep_sheets:
        del cms_wb[sheetName]
cms_wb.save('Residence_privateEnrollees.xlsx')

In [13]:
data_xls = pd.read_excel('Residence_privateEnrollees.xlsx')

In [14]:
data_xls

,Table 29: Private Health Insurance Per Enrollee State Estimates by State of Residence (2001-2020) - Personal Health Care (Dollars),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,Region/state of residence,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Average\nAnnual %\nGrowth\n(2001-2020)
1,United States,2176.0,2371.0,2594.0,2779.0,2981.0,3125.0,3312.0,3457.0,3713.0,...,4078.0,4081.0,4183.0,4339.0,4549.0,4735.0,4941.0,5129.0,4994.0,0.045
2,New England,2518.0,2677.0,2845.0,3153.0,3319.0,3456.0,3674.0,4003.0,4317.0,...,4833.0,4753.0,4810.0,4981.0,5134.0,5557.0,5679.0,5708.0,5554.0,0.043
3,Connecticut,2574.0,2574.0,2969.0,3229.0,3383.0,3555.0,3745.0,4116.0,4464.0,...,4777.0,4665.0,4813.0,4930.0,4996.0,5398.0,5473.0,5537.0,5692.0,0.043
4,Maine,2286.0,2509.0,2699.0,3047.0,3178.0,3510.0,3575.0,3720.0,3974.0,...,4498.0,4555.0,4602.0,4590.0,5135.0,5155.0,5203.0,5557.0,5911.0,0.051
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,Nevada,1890.0,2267.0,2504.0,2801.0,2984.0,2817.0,2843.0,3206.0,3971.0,...,3167.0,3214.0,3404.0,3693.0,3482.0,3697.0,3841.0,4110.0,4277.0,0.044
59,Oregon,1995.0,2140.0,2467.0,2726.0,2903.0,3157.0,3393.0,3514.0,3870.0,...,4055.0,3742.0,3823.0,3774.0,4179.0,4316.0,4660.0,4686.0,4692.0,0.046
60,Washington,1977.0,2491.0,2624.0,2744.0,3017.0,3087.0,3417.0,3614.0,3836.0,...,4125.0,4062.0,4125.0,3933.0,4323.0,4513.0,4722.0,4951.0,5096.0,0.051
61,NOTE: Numbers may not add to totals shown beca...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,SOURCE: Centers for Medicare and Medicaid Serv...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
data_xls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 22 columns):
 #   Column                                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                                              --------------  -----
 0   Table 29: Private Health Insurance Per Enrollee State Estimates by State of Residence (2001-2020) - Personal Health Care (Dollars)  63 non-null     object
 1   Unnamed: 1                                                                                                                          61 non-null     float64
 2   Unnamed: 2                                                                                                                          61 non-null     float64
 3   Unnamed: 3                                                                                                                          61 non-null     float64
 4   Unnamed: 4                                                                                                                          61 non-null     float64
 5   Unnamed: 5                                                                                                                          61 non-null     float64
 6   Unnamed: 6                                                                                                                          61 non-null     float64
 7   Unnamed: 7                                                                                                                          61 non-null     float64
 8   Unnamed: 8                                                                                                                          61 non-null     float64
 9   Unnamed: 9                                                                                                                          61 non-null     float64
 10  Unnamed: 10                                                                                                                         61 non-null     float64
 11  Unnamed: 11                                                                                                                         61 non-null     float64
 12  Unnamed: 12                                                                                                                         61 non-null     float64
 13  Unnamed: 13                                                                                                                         61 non-null     float64
 14  Unnamed: 14                                                                                                                         61 non-null     float64
 15  Unnamed: 15                                                                                                                         61 non-null     float64
 16  Unnamed: 16                                                                                                                         61 non-null     float64
 17  Unnamed: 17                                                                                                                         61 non-null     float64
 18  Unnamed: 18                                                                                                                         61 non-null     float64
 19  Unnamed: 19                                                                                                                         61 non-null     float64
 20  Unnamed: 20                                                                                                                         61 non-null     float64
 21  Unnamed: 21                                                                                                                         61 non-null     object
dtypes: float64(20), object(2)
memory usage: 11.0+ KB

In [16]:
data_xls.to_csv('Residence_privateEnrollees.csv', encoding='utf-8', header=None, index=False)

In [17]:
data_csv = pd.read_csv('Residence_privateEnrollees.csv')
data_csv

,Region/state of residence,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Average\nAnnual %\nGrowth\n(2001-2020)
0,United States,2176.0,2371.0,2594.0,2779.0,2981.0,3125.0,3312.0,3457.0,3713.0,...,4078.0,4081.0,4183.0,4339.0,4549.0,4735.0,4941.0,5129.0,4994.0,0.045
1,New England,2518.0,2677.0,2845.0,3153.0,3319.0,3456.0,3674.0,4003.0,4317.0,...,4833.0,4753.0,4810.0,4981.0,5134.0,5557.0,5679.0,5708.0,5554.0,0.043
2,Connecticut,2574.0,2574.0,2969.0,3229.0,3383.0,3555.0,3745.0,4116.0,4464.0,...,4777.0,4665.0,4813.0,4930.0,4996.0,5398.0,5473.0,5537.0,5692.0,0.043
3,Maine,2286.0,2509.0,2699.0,3047.0,3178.0,3510.0,3575.0,3720.0,3974.0,...,4498.0,4555.0,4602.0,4590.0,5135.0,5155.0,5203.0,5557.0,5911.0,0.051
4,Massachusetts,2655.0,2860.0,2861.0,3168.0,3279.0,3445.0,3669.0,4022.0,4308.0,...,5060.0,4948.0,4935.0,5233.0,5345.0,5988.0,6145.0,6141.0,5795.0,0.042
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,Nevada,1890.0,2267.0,2504.0,2801.0,2984.0,2817.0,2843.0,3206.0,3971.0,...,3167.0,3214.0,3404.0,3693.0,3482.0,3697.0,3841.0,4110.0,4277.0,0.044
58,Oregon,1995.0,2140.0,2467.0,2726.0,2903.0,3157.0,3393.0,3514.0,3870.0,...,4055.0,3742.0,3823.0,3774.0,4179.0,4316.0,4660.0,4686.0,4692.0,0.046
59,Washington,1977.0,2491.0,2624.0,2744.0,3017.0,3087.0,3417.0,3614.0,3836.0,...,4125.0,4062.0,4125.0,3933.0,4323.0,4513.0,4722.0,4951.0,5096.0,0.051
60,NOTE: Numbers may not add to totals shown beca...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,SOURCE: Centers for Medicare and Medicaid Serv...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
data_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 22 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Region/state of residence            62 non-null     object
 1   2001.0                               60 non-null     float64
 2   2002.0                               60 non-null     float64
 3   2003.0                               60 non-null     float64
 4   2004.0                               60 non-null     float64
 5   2005.0                               60 non-null     float64
 6   2006.0                               60 non-null     float64
 7   2007.0                               60 non-null     float64
 8   2008.0                               60 non-null     float64
 9   2009.0                               60 non-null     float64
 10  2010.0                               60 non-null     float64
 11  2011.0                               60 non-null     float64
 12  2012.0                               60 non-null     float64
 13  2013.0                               60 non-null     float64
 14  2014.0                               60 non-null     float64
 15  2015.0                               60 non-null     float64
 16  2016.0                               60 non-null     float64
 17  2017.0                               60 non-null     float64
 18  2018.0                               60 non-null     float64
 19  2019.0                               60 non-null     float64
 20  2020.0                               60 non-null     float64
 21  Average
Annual %
Growth
(2001-2020)  60 non-null     float64
dtypes: float64(21), object(1)
memory usage: 10.8+ KB

In [19]:
print(data_csv.columns)

Index(['Region/state of residence', '2001.0', '2002.0', '2003.0', '2004.0',
       '2005.0', '2006.0', '2007.0', '2008.0', '2009.0', '2010.0', '2011.0',
       '2012.0', '2013.0', '2014.0', '2015.0', '2016.0', '2017.0', '2018.0',
       '2019.0', '2020.0', 'Average\nAnnual %\nGrowth\n(2001-2020)'],
      dtype='object')

In [20]:
df_new = data_csv.drop(columns=['Average\nAnnual %\nGrowth\n(2001-2020)', '2001.0', '2002.0', '2003.0', '2004.0',
       '2005.0', '2006.0', '2007.0',])
df_new

,Region/state of residence,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
0,United States,3457.0,3713.0,3850.0,4006.0,4078.0,4081.0,4183.0,4339.0,4549.0,4735.0,4941.0,5129.0,4994.0
1,New England,4003.0,4317.0,4550.0,4751.0,4833.0,4753.0,4810.0,4981.0,5134.0,5557.0,5679.0,5708.0,5554.0
2,Connecticut,4116.0,4464.0,4522.0,4734.0,4777.0,4665.0,4813.0,4930.0,4996.0,5398.0,5473.0,5537.0,5692.0
3,Maine,3720.0,3974.0,4134.0,4334.0,4498.0,4555.0,4602.0,4590.0,5135.0,5155.0,5203.0,5557.0,5911.0
4,Massachusetts,4022.0,4308.0,4692.0,4888.0,5060.0,4948.0,4935.0,5233.0,5345.0,5988.0,6145.0,6141.0,5795.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,Nevada,3206.0,3971.0,3790.0,3814.0,3167.0,3214.0,3404.0,3693.0,3482.0,3697.0,3841.0,4110.0,4277.0
58,Oregon,3514.0,3870.0,3969.0,3947.0,4055.0,3742.0,3823.0,3774.0,4179.0,4316.0,4660.0,4686.0,4692.0
59,Washington,3614.0,3836.0,4014.0,3869.0,4125.0,4062.0,4125.0,3933.0,4323.0,4513.0,4722.0,4951.0,5096.0
60,NOTE: Numbers may not add to totals shown beca...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,SOURCE: Centers for Medicare and Medicaid Serv...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
new_df=df_new.drop([1, 8, 15, 21, 29, 47, 42, 53, 60, 61])
new_df

,Region/state of residence,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
0,United States,3457.0,3713.0,3850.0,4006.0,4078.0,4081.0,4183.0,4339.0,4549.0,4735.0,4941.0,5129.0,4994.0
2,Connecticut,4116.0,4464.0,4522.0,4734.0,4777.0,4665.0,4813.0,4930.0,4996.0,5398.0,5473.0,5537.0,5692.0
3,Maine,3720.0,3974.0,4134.0,4334.0,4498.0,4555.0,4602.0,4590.0,5135.0,5155.0,5203.0,5557.0,5911.0
4,Massachusetts,4022.0,4308.0,4692.0,4888.0,5060.0,4948.0,4935.0,5233.0,5345.0,5988.0,6145.0,6141.0,5795.0
5,New Hampshire,4043.0,4469.0,4419.0,4814.0,4508.0,4476.0,4520.0,4552.0,4758.0,4771.0,5084.0,4938.0,4806.0
6,Rhode Island,3919.0,4071.0,4670.0,4432.0,4564.0,4416.0,4504.0,4393.0,4590.0,4647.0,4550.0,4501.0,4213.0
7,Vermont,3747.0,4293.0,4061.0,4565.0,4497.0,4657.0,5019.0,5301.0,5422.0,5863.0,5876.0,5807.0,5561.0
9,Delaware,4036.0,4161.0,4311.0,4900.0,4425.0,4186.0,4436.0,4446.0,4776.0,5298.0,5544.0,5379.0,5636.0
10,District of Columbia,6930.0,7483.0,7815.0,8498.0,8404.0,8256.0,8517.0,8445.0,8759.0,8972.0,9726.0,9752.0,9385.0
11,Maryland,3384.0,3739.0,3836.0,4036.0,4031.0,3893.0,4033.0,4140.0,4262.0,4486.0,4850.0,5024.0,5045.0
12,New Jersey,3427.0,3827.0,3877.0,4211.0,4369.0,4606.0,4731.0,4769.0,5003.0,5166.0,5294.0,5725.0,5514.0
13,New York,3966.0,4408.0,4684.0,4824.0,4834.0,4957.0,4871.0,5265.0,5324.0,5881.0,6367.0,6445.0,6264.0
14,Pennsylvania,3507.0,3645.0,3704.0,4072.0,4107.0,4194.0,4234.0,4528.0,4699.0,4711.0,4895.0,5036.0,4839.0
16,Illinois,3656.0,4104.0,4067.0,4134.0,4224.0,4355.0,4521.0,4566.0,4690.0,5012.0,5091.0,5084.0,4942.0
17,Indiana,3735.0,3571.0,3586.0,3695.0,3862.0,3913.0,4062.0,4177.0,4294.0,4344.0,4529.0,4799.0,4624.0
18,Michigan,3549.0,3744.0,3986.0,3744.0,3754.0,3593.0,3681.0,3885.0,4225.0,4456.0,4477.0,4937.0,4633.0
19,Ohio,3545.0,3554.0,3879.0,3905.0,3849.0,3910.0,3970.0,4241.0,4520.0,4748.0,4933.0,4856.0,4503.0
20,Wisconsin,3981.0,4488.0,4520.0,4745.0,4644.0,4588.0,4701.0,4474.0,4898.0,4952.0,5360.0,5276.0,5093.0
22,Iowa,3342.0,3551.0,3741.0,3609.0,3771.0,3680.0,3780.0,4011.0,4192.0,4629.0,4780.0,4836.0,4605.0
23,Kansas,3167.0,3303.0,3457.0,3615.0,3693.0,3960.0,4025.0,4123.0,4124.0,4378.0,4614.0,4543.0,4379.0
24,Minnesota,3543.0,3656.0,3704.0,4148.0,4083.0,3888.0,4090.0,4176.0,4355.0,4554.0,4642.0,4938.0,4825.0
25,Missouri,3276.0,3636.0,3421.0,3832.0,4188.0,4012.0,3933.0,4068.0,3995.0,4465.0,4836.0,5081.0,4864.0
26,Nebraska,3333.0,3568.0,3758.0,3913.0,4026.0,3807.0,4158.0,4126.0,4295.0,4569.0,4892.0,4843.0,4437.0
27,North Dakota,3227.0,3370.0,3610.0,3935.0,4167.0,4178.0,4034.0,4454.0,4758.0,4796.0,4863.0,4967.0,4906.0
28,South Dakota,3171.0,3354.0,3372.0,3690.0,3854.0,3968.0,3920.0,4190.0,4088.0,4394.0,4588.0,4989.0,4634.0
30,Alabama,3127.0,3403.0,3318.0,3371.0,3300.0,3330.0,3391.0,3566.0,3740.0,4041.0,4234.0,4681.0,4680.0
31,Arkansas,3211.0,3219.0,3160.0,3320.0,3562.0,3479.0,3663.0,3724.0,4128.0,4359.0,4634.0,4770.0,4836.0
32,Florida,3325.0,3533.0,3895.0,3917.0,3957.0,4011.0,4191.0,4319.0,4483.0,4639.0,5104.0,5272.0,5057.0
33,Georgia,3373.0,3475.0,3578.0,3761.0,3853.0,4018.0,4133.0,4520.0,4613.0,4700.0,4820.0,5277.0,5359.0
34,Kentucky,3306.0,3797.0,3919.0,4313.0,4323.0,4246.0,4238.0,4408.0,4303.0,4124.0,4644.0,5065.0,4934.0
35,Louisiana,3264.0,3425.0,3576.0,3597.0,4069.0,4002.0,4136.0,4451.0,4578.0,4540.0,4813.0,5061.0,4665.0
36,Mississippi,3150.0,3323.0,3603.0,3571.0,3656.0,3654.0,3723.0,3763.0,3801.0,3927.0,4171.0,4514.0,4310.0
37,North Carolina,3204.0,3611.0,3505.0,3580.0,3551.0,3383.0,3525.0,3972.0,4169.0,4453.0,4487.0,4873.0,4647.0
38,South Carolina,3300.0,3521.0,3488.0,3810.0,3705.0,3803.0,4007.0,3819.0,3972.0,4134.0,4153.0,4243.0,4402.0
39,Tennessee,3605.0,3633.0,3739.0,3826.0,4100.0,4192.0,4262.0,4006.0,4421.0,4619.0,4823.0,5236.0,5501.0
40,Virginia,3092.0,3264.0,3472.0,3447.0,3694.0,3713.0,3876.0,4061.0,4150.0,4316.0,4598.0,4761.0,4434.0
41,West Virginia,3328.0,3352.0,3342.0,3817.0,4097.0,3858.0,3661.0,3665.0,3838.0,4269.0,4760.0,5108.0,4602.0
43,Arizona,3350.0,3464.0,3515.0,3777.0,3766.0,3417.0,3636.0,3828.0,4407.0,4318.0,4424.0,4495.0,4231.0
44,New Mexico,2703.0,3303.0,3452.0,3819.0,4221.0,4015.0,4065.0,4147.0,4462.0,4739.0,4505.0,4933.0,4773.0
45,Oklahoma,2840.0,3320.0,3364.0,3239.0,3334.0,3292.0,3597.0,3692.0,3915.0,4217.0,4154.0,4480.0,4620.0
46,Texas,3276.0,3681.0,3924.0,3874.0,4109.0,4233.0,4276.0,4257.0,4468.0,4531.0,4889.0,5157.0,4923.0
48,Colorado,3334.0,3522.0,3389.0,3758.0,3832.0,3981.0,4151.0,4115.0,4525.0,4835.0,4602.0,4468.0,4538.0
49,Idaho,2732.0,2936.0,2898.0,2799.0,3027.0,3064.0,3170.0,3486.0,3759.0,3767.0,4076.0,4094.0,4075.0
50,Montana,2945.0,2914.0,2952.0,3365.0,3517.0,3514.0,3520.0,3339.0,3863.0,4377.0,4377.0,4583.0,4274.0
51,Utah,2705.0,2796.0,2919.0,3027.0,3058.0,3112.0,3264.0,3318.0,3529.0,3377.0,3539.0,3513.0,3287.0
52,Wyoming,3750.0,4071.0,3952.0,4142.0,4452.0,4465.0,4597.0,4466.0,4738.0,5215.0,5152.0,5012.0,5355.0
54,Alaska,4434.0,4845.0,5089.0,5418.0,6143.0,5306.0,5470.0,6684.0,6804.0,6528.0,6278.0,6496.0,6523.0
55,California,3329.0,3536.0,3763.0,4172.0,4135.0,4131.0,4307.0,4626.0,4976.0,4993.0,5071.0,5312.0,5302.0
56,Hawaii,3337.0,3513.0,3525.0,3724.0,3899.0,3706.0,3905.0,4101.0,4421.0,4707.0,5186.0,5126.0,4601.0
57,Nevada,3206.0,3971.0,3790.0,3814.0,3167.0,3214.0,3404.0,3693.0,3482.0,3697.0,3841.0,4110.0,4277.0
58,Oregon,3514.0,3870.0,3969.0,3947.0,4055.0,3742.0,3823.0,3774.0,4179.0,4316.0,4660.0,4686.0,4692.0
59,Washington,3614.0,3836.0,4014.0,3869.0,4125.0,4062.0,4125.0,3933.0,4323.0,4513.0,4722.0,4951.0,5096.0

In [22]:
# Convert columns to a `int` data type.
new_df['2008.0'] = new_df['2008.0'].astype(int)
new_df['2009.0'] = new_df['2009.0'].astype(int)
new_df['2010.0'] = new_df['2010.0'].astype(int)
new_df['2011.0'] = new_df['2011.0'].astype(int)
new_df['2012.0'] = new_df['2012.0'].astype(int)
new_df['2013.0'] = new_df['2013.0'].astype(int)
new_df['2014.0'] = new_df['2014.0'].astype(int)
new_df['2015.0'] = new_df['2015.0'].astype(int)
new_df['2016.0'] = new_df['2016.0'].astype(int)
new_df['2017.0'] = new_df['2017.0'].astype(int)
new_df['2018.0'] = new_df['2018.0'].astype(int)
new_df['2019.0'] = new_df['2019.0'].astype(int)
new_df['2020.0'] = new_df['2020.0'].astype(int)
new_df.head()

,Region/state of residence,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
0,United States,3457,3713,3850,4006,4078,4081,4183,4339,4549,4735,4941,5129,4994
2,Connecticut,4116,4464,4522,4734,4777,4665,4813,4930,4996,5398,5473,5537,5692
3,Maine,3720,3974,4134,4334,4498,4555,4602,4590,5135,5155,5203,5557,5911
4,Massachusetts,4022,4308,4692,4888,5060,4948,4935,5233,5345,5988,6145,6141,5795
5,New Hampshire,4043,4469,4419,4814,4508,4476,4520,4552,4758,4771,5084,4938,4806

In [23]:
print(new_df.columns)

Index(['Region/state of residence', '2008.0', '2009.0', '2010.0', '2011.0',
       '2012.0', '2013.0', '2014.0', '2015.0', '2016.0', '2017.0', '2018.0',
       '2019.0', '2020.0'],
      dtype='object')

In [24]:
columnHeadchg=new_df.rename(columns={new_df.columns[0]:'Region/State', new_df.columns[1]:'2008',
                         new_df.columns[2]:'2009',new_df.columns[3]:'2010',new_df.columns[4]:'2011',
                         new_df.columns[5]:'2012',new_df.columns[6]:'2013',new_df.columns[7]:'2014',
                         new_df.columns[8]:'2015',new_df.columns[9]:'2016',new_df.columns[10]:'2017',
                         new_df.columns[11]:'2018',new_df.columns[12]:'2019',new_df.columns[13]:'2020'})
columnHeadchg.head()

,Region/State,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,United States,3457,3713,3850,4006,4078,4081,4183,4339,4549,4735,4941,5129,4994
2,Connecticut,4116,4464,4522,4734,4777,4665,4813,4930,4996,5398,5473,5537,5692
3,Maine,3720,3974,4134,4334,4498,4555,4602,4590,5135,5155,5203,5557,5911
4,Massachusetts,4022,4308,4692,4888,5060,4948,4935,5233,5345,5988,6145,6141,5795
5,New Hampshire,4043,4469,4419,4814,4508,4476,4520,4552,4758,4771,5084,4938,4806

In [25]:
sorted_final=columnHeadchg.sort_values('Region/State')
sorted_final

,Region/State,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
30,Alabama,3127,3403,3318,3371,3300,3330,3391,3566,3740,4041,4234,4681,4680
54,Alaska,4434,4845,5089,5418,6143,5306,5470,6684,6804,6528,6278,6496,6523
43,Arizona,3350,3464,3515,3777,3766,3417,3636,3828,4407,4318,4424,4495,4231
31,Arkansas,3211,3219,3160,3320,3562,3479,3663,3724,4128,4359,4634,4770,4836
55,California,3329,3536,3763,4172,4135,4131,4307,4626,4976,4993,5071,5312,5302
48,Colorado,3334,3522,3389,3758,3832,3981,4151,4115,4525,4835,4602,4468,4538
2,Connecticut,4116,4464,4522,4734,4777,4665,4813,4930,4996,5398,5473,5537,5692
9,Delaware,4036,4161,4311,4900,4425,4186,4436,4446,4776,5298,5544,5379,5636
10,District of Columbia,6930,7483,7815,8498,8404,8256,8517,8445,8759,8972,9726,9752,9385
32,Florida,3325,3533,3895,3917,3957,4011,4191,4319,4483,4639,5104,5272,5057
33,Georgia,3373,3475,3578,3761,3853,4018,4133,4520,4613,4700,4820,5277,5359
56,Hawaii,3337,3513,3525,3724,3899,3706,3905,4101,4421,4707,5186,5126,4601
49,Idaho,2732,2936,2898,2799,3027,3064,3170,3486,3759,3767,4076,4094,4075
16,Illinois,3656,4104,4067,4134,4224,4355,4521,4566,4690,5012,5091,5084,4942
17,Indiana,3735,3571,3586,3695,3862,3913,4062,4177,4294,4344,4529,4799,4624
22,Iowa,3342,3551,3741,3609,3771,3680,3780,4011,4192,4629,4780,4836,4605
23,Kansas,3167,3303,3457,3615,3693,3960,4025,4123,4124,4378,4614,4543,4379
34,Kentucky,3306,3797,3919,4313,4323,4246,4238,4408,4303,4124,4644,5065,4934
35,Louisiana,3264,3425,3576,3597,4069,4002,4136,4451,4578,4540,4813,5061,4665
3,Maine,3720,3974,4134,4334,4498,4555,4602,4590,5135,5155,5203,5557,5911
11,Maryland,3384,3739,3836,4036,4031,3893,4033,4140,4262,4486,4850,5024,5045
4,Massachusetts,4022,4308,4692,4888,5060,4948,4935,5233,5345,5988,6145,6141,5795
18,Michigan,3549,3744,3986,3744,3754,3593,3681,3885,4225,4456,4477,4937,4633
24,Minnesota,3543,3656,3704,4148,4083,3888,4090,4176,4355,4554,4642,4938,4825
36,Mississippi,3150,3323,3603,3571,3656,3654,3723,3763,3801,3927,4171,4514,4310
25,Missouri,3276,3636,3421,3832,4188,4012,3933,4068,3995,4465,4836,5081,4864
50,Montana,2945,2914,2952,3365,3517,3514,3520,3339,3863,4377,4377,4583,4274
26,Nebraska,3333,3568,3758,3913,4026,3807,4158,4126,4295,4569,4892,4843,4437
57,Nevada,3206,3971,3790,3814,3167,3214,3404,3693,3482,3697,3841,4110,4277
5,New Hampshire,4043,4469,4419,4814,4508,4476,4520,4552,4758,4771,5084,4938,4806
12,New Jersey,3427,3827,3877,4211,4369,4606,4731,4769,5003,5166,5294,5725,5514
44,New Mexico,2703,3303,3452,3819,4221,4015,4065,4147,4462,4739,4505,4933,4773
13,New York,3966,4408,4684,4824,4834,4957,4871,5265,5324,5881,6367,6445,6264
37,North Carolina,3204,3611,3505,3580,3551,3383,3525,3972,4169,4453,4487,4873,4647
27,North Dakota,3227,3370,3610,3935,4167,4178,4034,4454,4758,4796,4863,4967,4906
19,Ohio,3545,3554,3879,3905,3849,3910,3970,4241,4520,4748,4933,4856,4503
45,Oklahoma,2840,3320,3364,3239,3334,3292,3597,3692,3915,4217,4154,4480,4620
58,Oregon,3514,3870,3969,3947,4055,3742,3823,3774,4179,4316,4660,4686,4692
14,Pennsylvania,3507,3645,3704,4072,4107,4194,4234,4528,4699,4711,4895,5036,4839
6,Rhode Island,3919,4071,4670,4432,4564,4416,4504,4393,4590,4647,4550,4501,4213
38,South Carolina,3300,3521,3488,3810,3705,3803,4007,3819,3972,4134,4153,4243,4402
28,South Dakota,3171,3354,3372,3690,3854,3968,3920,4190,4088,4394,4588,4989,4634
39,Tennessee,3605,3633,3739,3826,4100,4192,4262,4006,4421,4619,4823,5236,5501
46,Texas,3276,3681,3924,3874,4109,4233,4276,4257,4468,4531,4889,5157,4923
0,United States,3457,3713,3850,4006,4078,4081,4183,4339,4549,4735,4941,5129,4994
51,Utah,2705,2796,2919,3027,3058,3112,3264,3318,3529,3377,3539,3513,3287
7,Vermont,3747,4293,4061,4565,4497,4657,5019,5301,5422,5863,5876,5807,5561
40,Virginia,3092,3264,3472,3447,3694,3713,3876,4061,4150,4316,4598,4761,4434
59,Washington,3614,3836,4014,3869,4125,4062,4125,3933,4323,4513,4722,4951,5096
41,West Virginia,3328,3352,3342,3817,4097,3858,3661,3665,3838,4269,4760,5108,4602
20,Wisconsin,3981,4488,4520,4745,4644,4588,4701,4474,4898,4952,5360,5276,5093
52,Wyoming,3750,4071,3952,4142,4452,4465,4597,4466,4738,5215,5152,5012,5355

In [26]:
new_csv = sorted_final.to_csv('cleaned_PriVenrollee_Data.csv',encoding='utf-8', index=False)

In [27]:
read_csv = pd.read_csv('cleaned_PriVenrollee_Data.csv')
read_csv

,Region/State,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Alabama,3127,3403,3318,3371,3300,3330,3391,3566,3740,4041,4234,4681,4680
1,Alaska,4434,4845,5089,5418,6143,5306,5470,6684,6804,6528,6278,6496,6523
2,Arizona,3350,3464,3515,3777,3766,3417,3636,3828,4407,4318,4424,4495,4231
3,Arkansas,3211,3219,3160,3320,3562,3479,3663,3724,4128,4359,4634,4770,4836
4,California,3329,3536,3763,4172,4135,4131,4307,4626,4976,4993,5071,5312,5302
5,Colorado,3334,3522,3389,3758,3832,3981,4151,4115,4525,4835,4602,4468,4538
6,Connecticut,4116,4464,4522,4734,4777,4665,4813,4930,4996,5398,5473,5537,5692
7,Delaware,4036,4161,4311,4900,4425,4186,4436,4446,4776,5298,5544,5379,5636
8,District of Columbia,6930,7483,7815,8498,8404,8256,8517,8445,8759,8972,9726,9752,9385
9,Florida,3325,3533,3895,3917,3957,4011,4191,4319,4483,4639,5104,5272,5057
10,Georgia,3373,3475,3578,3761,3853,4018,4133,4520,4613,4700,4820,5277,5359
11,Hawaii,3337,3513,3525,3724,3899,3706,3905,4101,4421,4707,5186,5126,4601
12,Idaho,2732,2936,2898,2799,3027,3064,3170,3486,3759,3767,4076,4094,4075
13,Illinois,3656,4104,4067,4134,4224,4355,4521,4566,4690,5012,5091,5084,4942
14,Indiana,3735,3571,3586,3695,3862,3913,4062,4177,4294,4344,4529,4799,4624
15,Iowa,3342,3551,3741,3609,3771,3680,3780,4011,4192,4629,4780,4836,4605
16,Kansas,3167,3303,3457,3615,3693,3960,4025,4123,4124,4378,4614,4543,4379
17,Kentucky,3306,3797,3919,4313,4323,4246,4238,4408,4303,4124,4644,5065,4934
18,Louisiana,3264,3425,3576,3597,4069,4002,4136,4451,4578,4540,4813,5061,4665
19,Maine,3720,3974,4134,4334,4498,4555,4602,4590,5135,5155,5203,5557,5911
20,Maryland,3384,3739,3836,4036,4031,3893,4033,4140,4262,4486,4850,5024,5045
21,Massachusetts,4022,4308,4692,4888,5060,4948,4935,5233,5345,5988,6145,6141,5795
22,Michigan,3549,3744,3986,3744,3754,3593,3681,3885,4225,4456,4477,4937,4633
23,Minnesota,3543,3656,3704,4148,4083,3888,4090,4176,4355,4554,4642,4938,4825
24,Mississippi,3150,3323,3603,3571,3656,3654,3723,3763,3801,3927,4171,4514,4310
25,Missouri,3276,3636,3421,3832,4188,4012,3933,4068,3995,4465,4836,5081,4864
26,Montana,2945,2914,2952,3365,3517,3514,3520,3339,3863,4377,4377,4583,4274
27,Nebraska,3333,3568,3758,3913,4026,3807,4158,4126,4295,4569,4892,4843,4437
28,Nevada,3206,3971,3790,3814,3167,3214,3404,3693,3482,3697,3841,4110,4277
29,New Hampshire,4043,4469,4419,4814,4508,4476,4520,4552,4758,4771,5084,4938,4806
30,New Jersey,3427,3827,3877,4211,4369,4606,4731,4769,5003,5166,5294,5725,5514
31,New Mexico,2703,3303,3452,3819,4221,4015,4065,4147,4462,4739,4505,4933,4773
32,New York,3966,4408,4684,4824,4834,4957,4871,5265,5324,5881,6367,6445,6264
33,North Carolina,3204,3611,3505,3580,3551,3383,3525,3972,4169,4453,4487,4873,4647
34,North Dakota,3227,3370,3610,3935,4167,4178,4034,4454,4758,4796,4863,4967,4906
35,Ohio,3545,3554,3879,3905,3849,3910,3970,4241,4520,4748,4933,4856,4503
36,Oklahoma,2840,3320,3364,3239,3334,3292,3597,3692,3915,4217,4154,4480,4620
37,Oregon,3514,3870,3969,3947,4055,3742,3823,3774,4179,4316,4660,4686,4692
38,Pennsylvania,3507,3645,3704,4072,4107,4194,4234,4528,4699,4711,4895,5036,4839
39,Rhode Island,3919,4071,4670,4432,4564,4416,4504,4393,4590,4647,4550,4501,4213
40,South Carolina,3300,3521,3488,3810,3705,3803,4007,3819,3972,4134,4153,4243,4402
41,South Dakota,3171,3354,3372,3690,3854,3968,3920,4190,4088,4394,4588,4989,4634
42,Tennessee,3605,3633,3739,3826,4100,4192,4262,4006,4421,4619,4823,5236,5501
43,Texas,3276,3681,3924,3874,4109,4233,4276,4257,4468,4531,4889,5157,4923
44,United States,3457,3713,3850,4006,4078,4081,4183,4339,4549,4735,4941,5129,4994
45,Utah,2705,2796,2919,3027,3058,3112,3264,3318,3529,3377,3539,3513,3287
46,Vermont,3747,4293,4061,4565,4497,4657,5019,5301,5422,5863,5876,5807,5561
47,Virginia,3092,3264,3472,3447,3694,3713,3876,4061,4150,4316,4598,4761,4434
48,Washington,3614,3836,4014,3869,4125,4062,4125,3933,4323,4513,4722,4951,5096
49,West Virginia,3328,3352,3342,3817,4097,3858,3661,3665,3838,4269,4760,5108,4602
50,Wisconsin,3981,4488,4520,4745,4644,4588,4701,4474,4898,4952,5360,5276,5093
51,Wyoming,3750,4071,3952,4142,4452,4465,4597,4466,4738,5215,5152,5012,5355

In [28]:
print(read_csv.columns)

Index(['Region/State', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020'],
      dtype='object')

In [29]:
read_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Region/State  52 non-null     object
 1   2008          52 non-null     int64
 2   2009          52 non-null     int64
 3   2010          52 non-null     int64
 4   2011          52 non-null     int64
 5   2012          52 non-null     int64
 6   2013          52 non-null     int64
 7   2014          52 non-null     int64
 8   2015          52 non-null     int64
 9   2016          52 non-null     int64
 10  2017          52 non-null     int64
 11  2018          52 non-null     int64
 12  2019          52 non-null     int64
 13  2020          52 non-null     int64
dtypes: int64(13), object(1)
memory usage: 5.8+ KB