In [1]:
# import dependencies
import requests
import pandas as pd
import numpy as np
import openpyxl

In [2]:
#format list for the dataframe
key = '6924a24c5e8fd68ab4c75b8911dde245'
state_ids = ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL',
             'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA',
             'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE',
             'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK',
             'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT',
             'VA', 'WA', 'WI', 'WV', 'WY']

In [3]:
#create dataframe and read in the two json files holding personal expenditures and personal income per capita
for x in state_ids:
  HCPC = f"https://api.stlouisfed.org/fred/series/observations?series_id={x}PCEPCHLTHCARE&api_key={key}&file_type=json"
  RINCPC = f"https://api.stlouisfed.org/fred/series/observations?series_id={x}RPIPC&api_key={key}&file_type=json"
  response = requests.get(RINCPC)
  series = pd.DataFrame(response.json()["observations"])
  series["value"] = series.rename(columns={'value': x}, inplace=True)
  series = series[['date', x]]
  if x == state_ids[0]:
    df = series
  else:
    df = pd.merge(df, series, on='date', how='inner')

In [4]:
#print dataframe to csv - real income - has income per capita income per state
df.to_csv('realincome.csv', encoding='utf-8', index=False)

In [5]:
income_csv = pd.read_csv('realincome.csv')
income_csv

,date,AL,AK,AZ,AR,CA,CO,CT,DE,FL,...,SD,TN,TX,UT,VT,VA,WA,WI,WV,WY
0,2008-01-01,42242,51624,38967,40983,43801,46677,61514,45923,43264,...,53966,42800,46111,39101,45363,49384,47357,46757,40351,58234
1,2009-01-01,41995,50046,36641,40970,42404,44290,60539,45268,41222,...,51592,42858,43378,35790,44683,48503,44859,45576,41150,51850
2,2010-01-01,41757,53121,37162,40280,43519,44902,63476,44779,42760,...,51386,42936,44111,36432,46082,48535,45638,45543,40655,53752
3,2011-01-01,41849,54738,38384,41286,44858,45642,62986,47058,43276,...,55027,43816,46689,36776,47570,49648,46298,47258,41704,55954
4,2012-01-01,41617,55069,39253,43016,46170,46712,62599,46587,43193,...,52730,44341,47581,37963,47494,50704,48625,47869,41807,58962
5,2013-01-01,41356,53511,39171,42407,45839,47730,60177,46599,42278,...,52096,43980,47335,38301,47120,48674,48421,47518,40670,56738
6,2014-01-01,42010,55466,40235,44095,47491,50254,62124,46908,43817,...,53856,44719,48987,39622,49298,49591,49895,48519,41592,59527
7,2015-01-01,43835,56504,41903,45429,50074,51326,63350,49657,45696,...,56578,46540,49009,42061,49460,51300,51713,50674,42149,59581
8,2016-01-01,43577,54409,42530,45891,51845,50932,64059,49888,46131,...,56333,46690,47705,43390,50635,52229,52455,50962,42098,55726
9,2017-01-01,44472,54005,44250,46835,52604,52739,64665,50850,48133,...,56740,47828,49944,43710,49930,53826,52990,51771,43731,58146
10,2018-01-01,46441,55410,45656,48479,53481,56587,68093,52109,49932,...,55499,50874,51578,46524,50638,54030,54841,52805,45021,62945
11,2019-01-01,47123,56881,47219,48268,55915,57850,69110,52615,52072,...,57344,51841,52351,47932,52739,56432,56828,53670,46591,63624
12,2020-01-01,50207,58532,50355,51209,60011,59863,70544,55233,53888,...,62351,54946,53456,52063,54402,58311,60169,57334,49453,68414
13,2021-01-01,52290,57623,53694,53390,63271,64282,72206,55553,57193,...,66784,57819,56565,55448,57077,60057,62680,59557,49594,70876
14,2022-01-01,50053,58069,50480,52430,59103,63875,67254,55709,54746,...,66857,54794,55382,54307,53806,58281,59175,57465,48337,68772

In [6]:
income_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 51 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    15 non-null     object
 1   AL      15 non-null     int64
 2   AK      15 non-null     int64
 3   AZ      15 non-null     int64
 4   AR      15 non-null     int64
 5   CA      15 non-null     int64
 6   CO      15 non-null     int64
 7   CT      15 non-null     int64
 8   DE      15 non-null     int64
 9   FL      15 non-null     int64
 10  GA      15 non-null     int64
 11  HI      15 non-null     int64
 12  ID      15 non-null     int64
 13  IL      15 non-null     int64
 14  IN      15 non-null     int64
 15  IA      15 non-null     int64
 16  KS      15 non-null     int64
 17  KY      15 non-null     int64
 18  LA      15 non-null     int64
 19  ME      15 non-null     int64
 20  MD      15 non-null     int64
 21  MA      15 non-null     int64
 22  MI      15 non-null     int64
 23  MN      15 non-null     int64
 24  MS      15 non-null     int64
 25  MO      15 non-null     int64
 26  MT      15 non-null     int64
 27  NE      15 non-null     int64
 28  NV      15 non-null     int64
 29  NH      15 non-null     int64
 30  NJ      15 non-null     int64
 31  NM      15 non-null     int64
 32  NY      15 non-null     int64
 33  NC      15 non-null     int64
 34  ND      15 non-null     int64
 35  OH      15 non-null     int64
 36  OK      15 non-null     int64
 37  OR      15 non-null     int64
 38  PA      15 non-null     int64
 39  RI      15 non-null     int64
 40  SC      15 non-null     int64
 41  SD      15 non-null     int64
 42  TN      15 non-null     int64
 43  TX      15 non-null     int64
 44  UT      15 non-null     int64
 45  VT      15 non-null     int64
 46  VA      15 non-null     int64
 47  WA      15 non-null     int64
 48  WI      15 non-null     int64
 49  WV      15 non-null     int64
 50  WY      15 non-null     int64
dtypes: int64(50), object(1)
memory usage: 6.1+ KB

In [7]:
#create dataframe and read in the two json files holding personal expenditures and personal income per capita
for x in state_ids:
  HCPC = f"https://api.stlouisfed.org/fred/series/observations?series_id={x}PCEPCHLTHCARE&api_key={key}&file_type=json"
  RINCPC = f"https://api.stlouisfed.org/fred/series/observations?series_id={x}RPIPC&api_key={key}&file_type=json"
  response = requests.get(HCPC)
  series = pd.DataFrame(response.json()["observations"])
  series["value"] = series.rename(columns={'value': x}, inplace=True)
  series = series[['date', x]]
  if x == state_ids[0]:
    df = series
  else:
    df = pd.merge(df, series, on='date', how='inner')

In [8]:
df.to_csv('healthexpenditures.csv', encoding='utf-8', index=False)

In [9]:
cms_wb = openpyxl.load_workbook('Residence_all_tables.xlsx')
Ws = cms_wb.sheetnames

In [10]:
print(Ws)

['Contents', 'Table 1 Personal Health Care', 'Table 2 Hospital', 'Table 3 Physician and Clinics', 'Table 4 Other Professionals', 'Table 5 Dental', 'Table 6 Home Health', 'Table 7 Nursing', 'Table 8 Drugs and Non-durables', 'Table 9 Durables', 'Table 10 Other Health', 'Table 11 Personal Health Care', 'Table 12 Hospital', 'Table 13 Physician and Clinics', 'Table 14 Other Professionals', 'Table 15 Dental', 'Table 16 Home Health', 'Table 17 Nursing', 'Table 18 Drugs and Non-durables', 'Table 19 Durables', 'Table 20 Other Health', 'Table 21 Population', 'Table 22 Medicare', 'Table 23 Medicare Per Enrollee', 'Table 24 Medicare Enrollment', 'Table 25 Medicaid', 'Table 26 Medicaid Per Enrollee', 'Table 27 Medicaid Enrollment', 'Table 28 Private Health', 'Table 29 Private Per Enrollee', 'Table 30 Private Enrollment']

-----------------------------------------------------Extract and clean Tab 29----------------------------------------------------

In [11]:
keep_sheets = ['Table 29 Private Per Enrollee']
for sheetName in cms_wb.sheetnames:
    if sheetName not in keep_sheets:
        del cms_wb[sheetName]
cms_wb.save('Residence_privateEnrollees.xlsx')

In [12]:
data_xls = pd.read_excel('Residence_privateEnrollees.xlsx')

In [13]:
data_xls

,Table 29: Private Health Insurance Per Enrollee State Estimates by State of Residence (2001-2020) - Personal Health Care (Dollars),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,Region/state of residence,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Average\nAnnual %\nGrowth\n(2001-2020)
1,United States,2176.0,2371.0,2594.0,2779.0,2981.0,3125.0,3312.0,3457.0,3713.0,...,4078.0,4081.0,4183.0,4339.0,4549.0,4735.0,4941.0,5129.0,4994.0,0.045
2,New England,2518.0,2677.0,2845.0,3153.0,3319.0,3456.0,3674.0,4003.0,4317.0,...,4833.0,4753.0,4810.0,4981.0,5134.0,5557.0,5679.0,5708.0,5554.0,0.043
3,Connecticut,2574.0,2574.0,2969.0,3229.0,3383.0,3555.0,3745.0,4116.0,4464.0,...,4777.0,4665.0,4813.0,4930.0,4996.0,5398.0,5473.0,5537.0,5692.0,0.043
4,Maine,2286.0,2509.0,2699.0,3047.0,3178.0,3510.0,3575.0,3720.0,3974.0,...,4498.0,4555.0,4602.0,4590.0,5135.0,5155.0,5203.0,5557.0,5911.0,0.051
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,Nevada,1890.0,2267.0,2504.0,2801.0,2984.0,2817.0,2843.0,3206.0,3971.0,...,3167.0,3214.0,3404.0,3693.0,3482.0,3697.0,3841.0,4110.0,4277.0,0.044
59,Oregon,1995.0,2140.0,2467.0,2726.0,2903.0,3157.0,3393.0,3514.0,3870.0,...,4055.0,3742.0,3823.0,3774.0,4179.0,4316.0,4660.0,4686.0,4692.0,0.046
60,Washington,1977.0,2491.0,2624.0,2744.0,3017.0,3087.0,3417.0,3614.0,3836.0,...,4125.0,4062.0,4125.0,3933.0,4323.0,4513.0,4722.0,4951.0,5096.0,0.051
61,NOTE: Numbers may not add to totals shown beca...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,SOURCE: Centers for Medicare and Medicaid Serv...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
data_xls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 22 columns):
 #   Column                                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                                              --------------  -----
 0   Table 29: Private Health Insurance Per Enrollee State Estimates by State of Residence (2001-2020) - Personal Health Care (Dollars)  63 non-null     object
 1   Unnamed: 1                                                                                                                          61 non-null     float64
 2   Unnamed: 2                                                                                                                          61 non-null     float64
 3   Unnamed: 3                                                                                                                          61 non-null     float64
 4   Unnamed: 4                                                                                                                          61 non-null     float64
 5   Unnamed: 5                                                                                                                          61 non-null     float64
 6   Unnamed: 6                                                                                                                          61 non-null     float64
 7   Unnamed: 7                                                                                                                          61 non-null     float64
 8   Unnamed: 8                                                                                                                          61 non-null     float64
 9   Unnamed: 9                                                                                                                          61 non-null     float64
 10  Unnamed: 10                                                                                                                         61 non-null     float64
 11  Unnamed: 11                                                                                                                         61 non-null     float64
 12  Unnamed: 12                                                                                                                         61 non-null     float64
 13  Unnamed: 13                                                                                                                         61 non-null     float64
 14  Unnamed: 14                                                                                                                         61 non-null     float64
 15  Unnamed: 15                                                                                                                         61 non-null     float64
 16  Unnamed: 16                                                                                                                         61 non-null     float64
 17  Unnamed: 17                                                                                                                         61 non-null     float64
 18  Unnamed: 18                                                                                                                         61 non-null     float64
 19  Unnamed: 19                                                                                                                         61 non-null     float64
 20  Unnamed: 20                                                                                                                         61 non-null     float64
 21  Unnamed: 21                                                                                                                         61 non-null     object
dtypes: float64(20), object(2)
memory usage: 11.0+ KB

In [15]:
data_xls.to_csv('Residence_privateEnrollees.csv', encoding='utf-8', header=None, index=False)

In [16]:
data_csv = pd.read_csv('Residence_privateEnrollees.csv')
data_csv

,Region/state of residence,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Average\nAnnual %\nGrowth\n(2001-2020)
0,United States,2176.0,2371.0,2594.0,2779.0,2981.0,3125.0,3312.0,3457.0,3713.0,...,4078.0,4081.0,4183.0,4339.0,4549.0,4735.0,4941.0,5129.0,4994.0,0.045
1,New England,2518.0,2677.0,2845.0,3153.0,3319.0,3456.0,3674.0,4003.0,4317.0,...,4833.0,4753.0,4810.0,4981.0,5134.0,5557.0,5679.0,5708.0,5554.0,0.043
2,Connecticut,2574.0,2574.0,2969.0,3229.0,3383.0,3555.0,3745.0,4116.0,4464.0,...,4777.0,4665.0,4813.0,4930.0,4996.0,5398.0,5473.0,5537.0,5692.0,0.043
3,Maine,2286.0,2509.0,2699.0,3047.0,3178.0,3510.0,3575.0,3720.0,3974.0,...,4498.0,4555.0,4602.0,4590.0,5135.0,5155.0,5203.0,5557.0,5911.0,0.051
4,Massachusetts,2655.0,2860.0,2861.0,3168.0,3279.0,3445.0,3669.0,4022.0,4308.0,...,5060.0,4948.0,4935.0,5233.0,5345.0,5988.0,6145.0,6141.0,5795.0,0.042
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,Nevada,1890.0,2267.0,2504.0,2801.0,2984.0,2817.0,2843.0,3206.0,3971.0,...,3167.0,3214.0,3404.0,3693.0,3482.0,3697.0,3841.0,4110.0,4277.0,0.044
58,Oregon,1995.0,2140.0,2467.0,2726.0,2903.0,3157.0,3393.0,3514.0,3870.0,...,4055.0,3742.0,3823.0,3774.0,4179.0,4316.0,4660.0,4686.0,4692.0,0.046
59,Washington,1977.0,2491.0,2624.0,2744.0,3017.0,3087.0,3417.0,3614.0,3836.0,...,4125.0,4062.0,4125.0,3933.0,4323.0,4513.0,4722.0,4951.0,5096.0,0.051
60,NOTE: Numbers may not add to totals shown beca...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,SOURCE: Centers for Medicare and Medicaid Serv...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
data_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 22 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Region/state of residence            62 non-null     object
 1   2001.0                               60 non-null     float64
 2   2002.0                               60 non-null     float64
 3   2003.0                               60 non-null     float64
 4   2004.0                               60 non-null     float64
 5   2005.0                               60 non-null     float64
 6   2006.0                               60 non-null     float64
 7   2007.0                               60 non-null     float64
 8   2008.0                               60 non-null     float64
 9   2009.0                               60 non-null     float64
 10  2010.0                               60 non-null     float64
 11  2011.0                               60 non-null     float64
 12  2012.0                               60 non-null     float64
 13  2013.0                               60 non-null     float64
 14  2014.0                               60 non-null     float64
 15  2015.0                               60 non-null     float64
 16  2016.0                               60 non-null     float64
 17  2017.0                               60 non-null     float64
 18  2018.0                               60 non-null     float64
 19  2019.0                               60 non-null     float64
 20  2020.0                               60 non-null     float64
 21  Average
Annual %
Growth
(2001-2020)  60 non-null     float64
dtypes: float64(21), object(1)
memory usage: 10.8+ KB

In [18]:
print(data_csv.columns)

Index(['Region/state of residence', '2001.0', '2002.0', '2003.0', '2004.0',
       '2005.0', '2006.0', '2007.0', '2008.0', '2009.0', '2010.0', '2011.0',
       '2012.0', '2013.0', '2014.0', '2015.0', '2016.0', '2017.0', '2018.0',
       '2019.0', '2020.0', 'Average\nAnnual %\nGrowth\n(2001-2020)'],
      dtype='object')

In [19]:
df_new = data_csv.drop(columns=['Average\nAnnual %\nGrowth\n(2001-2020)', '2001.0', '2002.0', '2003.0', '2004.0',
       '2005.0', '2006.0', '2007.0',])
df_new

,Region/state of residence,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
0,United States,3457.0,3713.0,3850.0,4006.0,4078.0,4081.0,4183.0,4339.0,4549.0,4735.0,4941.0,5129.0,4994.0
1,New England,4003.0,4317.0,4550.0,4751.0,4833.0,4753.0,4810.0,4981.0,5134.0,5557.0,5679.0,5708.0,5554.0
2,Connecticut,4116.0,4464.0,4522.0,4734.0,4777.0,4665.0,4813.0,4930.0,4996.0,5398.0,5473.0,5537.0,5692.0
3,Maine,3720.0,3974.0,4134.0,4334.0,4498.0,4555.0,4602.0,4590.0,5135.0,5155.0,5203.0,5557.0,5911.0
4,Massachusetts,4022.0,4308.0,4692.0,4888.0,5060.0,4948.0,4935.0,5233.0,5345.0,5988.0,6145.0,6141.0,5795.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,Nevada,3206.0,3971.0,3790.0,3814.0,3167.0,3214.0,3404.0,3693.0,3482.0,3697.0,3841.0,4110.0,4277.0
58,Oregon,3514.0,3870.0,3969.0,3947.0,4055.0,3742.0,3823.0,3774.0,4179.0,4316.0,4660.0,4686.0,4692.0
59,Washington,3614.0,3836.0,4014.0,3869.0,4125.0,4062.0,4125.0,3933.0,4323.0,4513.0,4722.0,4951.0,5096.0
60,NOTE: Numbers may not add to totals shown beca...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,SOURCE: Centers for Medicare and Medicaid Serv...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
new_df=df_new.drop([0, 1, 8, 15, 21, 29, 47, 42, 53, 60, 61])
new_df

,Region/state of residence,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
2,Connecticut,4116.0,4464.0,4522.0,4734.0,4777.0,4665.0,4813.0,4930.0,4996.0,5398.0,5473.0,5537.0,5692.0
3,Maine,3720.0,3974.0,4134.0,4334.0,4498.0,4555.0,4602.0,4590.0,5135.0,5155.0,5203.0,5557.0,5911.0
4,Massachusetts,4022.0,4308.0,4692.0,4888.0,5060.0,4948.0,4935.0,5233.0,5345.0,5988.0,6145.0,6141.0,5795.0
5,New Hampshire,4043.0,4469.0,4419.0,4814.0,4508.0,4476.0,4520.0,4552.0,4758.0,4771.0,5084.0,4938.0,4806.0
6,Rhode Island,3919.0,4071.0,4670.0,4432.0,4564.0,4416.0,4504.0,4393.0,4590.0,4647.0,4550.0,4501.0,4213.0
7,Vermont,3747.0,4293.0,4061.0,4565.0,4497.0,4657.0,5019.0,5301.0,5422.0,5863.0,5876.0,5807.0,5561.0
9,Delaware,4036.0,4161.0,4311.0,4900.0,4425.0,4186.0,4436.0,4446.0,4776.0,5298.0,5544.0,5379.0,5636.0
10,District of Columbia,6930.0,7483.0,7815.0,8498.0,8404.0,8256.0,8517.0,8445.0,8759.0,8972.0,9726.0,9752.0,9385.0
11,Maryland,3384.0,3739.0,3836.0,4036.0,4031.0,3893.0,4033.0,4140.0,4262.0,4486.0,4850.0,5024.0,5045.0
12,New Jersey,3427.0,3827.0,3877.0,4211.0,4369.0,4606.0,4731.0,4769.0,5003.0,5166.0,5294.0,5725.0,5514.0
13,New York,3966.0,4408.0,4684.0,4824.0,4834.0,4957.0,4871.0,5265.0,5324.0,5881.0,6367.0,6445.0,6264.0
14,Pennsylvania,3507.0,3645.0,3704.0,4072.0,4107.0,4194.0,4234.0,4528.0,4699.0,4711.0,4895.0,5036.0,4839.0
16,Illinois,3656.0,4104.0,4067.0,4134.0,4224.0,4355.0,4521.0,4566.0,4690.0,5012.0,5091.0,5084.0,4942.0
17,Indiana,3735.0,3571.0,3586.0,3695.0,3862.0,3913.0,4062.0,4177.0,4294.0,4344.0,4529.0,4799.0,4624.0
18,Michigan,3549.0,3744.0,3986.0,3744.0,3754.0,3593.0,3681.0,3885.0,4225.0,4456.0,4477.0,4937.0,4633.0
19,Ohio,3545.0,3554.0,3879.0,3905.0,3849.0,3910.0,3970.0,4241.0,4520.0,4748.0,4933.0,4856.0,4503.0
20,Wisconsin,3981.0,4488.0,4520.0,4745.0,4644.0,4588.0,4701.0,4474.0,4898.0,4952.0,5360.0,5276.0,5093.0
22,Iowa,3342.0,3551.0,3741.0,3609.0,3771.0,3680.0,3780.0,4011.0,4192.0,4629.0,4780.0,4836.0,4605.0
23,Kansas,3167.0,3303.0,3457.0,3615.0,3693.0,3960.0,4025.0,4123.0,4124.0,4378.0,4614.0,4543.0,4379.0
24,Minnesota,3543.0,3656.0,3704.0,4148.0,4083.0,3888.0,4090.0,4176.0,4355.0,4554.0,4642.0,4938.0,4825.0
25,Missouri,3276.0,3636.0,3421.0,3832.0,4188.0,4012.0,3933.0,4068.0,3995.0,4465.0,4836.0,5081.0,4864.0
26,Nebraska,3333.0,3568.0,3758.0,3913.0,4026.0,3807.0,4158.0,4126.0,4295.0,4569.0,4892.0,4843.0,4437.0
27,North Dakota,3227.0,3370.0,3610.0,3935.0,4167.0,4178.0,4034.0,4454.0,4758.0,4796.0,4863.0,4967.0,4906.0
28,South Dakota,3171.0,3354.0,3372.0,3690.0,3854.0,3968.0,3920.0,4190.0,4088.0,4394.0,4588.0,4989.0,4634.0
30,Alabama,3127.0,3403.0,3318.0,3371.0,3300.0,3330.0,3391.0,3566.0,3740.0,4041.0,4234.0,4681.0,4680.0
31,Arkansas,3211.0,3219.0,3160.0,3320.0,3562.0,3479.0,3663.0,3724.0,4128.0,4359.0,4634.0,4770.0,4836.0
32,Florida,3325.0,3533.0,3895.0,3917.0,3957.0,4011.0,4191.0,4319.0,4483.0,4639.0,5104.0,5272.0,5057.0
33,Georgia,3373.0,3475.0,3578.0,3761.0,3853.0,4018.0,4133.0,4520.0,4613.0,4700.0,4820.0,5277.0,5359.0
34,Kentucky,3306.0,3797.0,3919.0,4313.0,4323.0,4246.0,4238.0,4408.0,4303.0,4124.0,4644.0,5065.0,4934.0
35,Louisiana,3264.0,3425.0,3576.0,3597.0,4069.0,4002.0,4136.0,4451.0,4578.0,4540.0,4813.0,5061.0,4665.0
36,Mississippi,3150.0,3323.0,3603.0,3571.0,3656.0,3654.0,3723.0,3763.0,3801.0,3927.0,4171.0,4514.0,4310.0
37,North Carolina,3204.0,3611.0,3505.0,3580.0,3551.0,3383.0,3525.0,3972.0,4169.0,4453.0,4487.0,4873.0,4647.0
38,South Carolina,3300.0,3521.0,3488.0,3810.0,3705.0,3803.0,4007.0,3819.0,3972.0,4134.0,4153.0,4243.0,4402.0
39,Tennessee,3605.0,3633.0,3739.0,3826.0,4100.0,4192.0,4262.0,4006.0,4421.0,4619.0,4823.0,5236.0,5501.0
40,Virginia,3092.0,3264.0,3472.0,3447.0,3694.0,3713.0,3876.0,4061.0,4150.0,4316.0,4598.0,4761.0,4434.0
41,West Virginia,3328.0,3352.0,3342.0,3817.0,4097.0,3858.0,3661.0,3665.0,3838.0,4269.0,4760.0,5108.0,4602.0
43,Arizona,3350.0,3464.0,3515.0,3777.0,3766.0,3417.0,3636.0,3828.0,4407.0,4318.0,4424.0,4495.0,4231.0
44,New Mexico,2703.0,3303.0,3452.0,3819.0,4221.0,4015.0,4065.0,4147.0,4462.0,4739.0,4505.0,4933.0,4773.0
45,Oklahoma,2840.0,3320.0,3364.0,3239.0,3334.0,3292.0,3597.0,3692.0,3915.0,4217.0,4154.0,4480.0,4620.0
46,Texas,3276.0,3681.0,3924.0,3874.0,4109.0,4233.0,4276.0,4257.0,4468.0,4531.0,4889.0,5157.0,4923.0
48,Colorado,3334.0,3522.0,3389.0,3758.0,3832.0,3981.0,4151.0,4115.0,4525.0,4835.0,4602.0,4468.0,4538.0
49,Idaho,2732.0,2936.0,2898.0,2799.0,3027.0,3064.0,3170.0,3486.0,3759.0,3767.0,4076.0,4094.0,4075.0
50,Montana,2945.0,2914.0,2952.0,3365.0,3517.0,3514.0,3520.0,3339.0,3863.0,4377.0,4377.0,4583.0,4274.0
51,Utah,2705.0,2796.0,2919.0,3027.0,3058.0,3112.0,3264.0,3318.0,3529.0,3377.0,3539.0,3513.0,3287.0
52,Wyoming,3750.0,4071.0,3952.0,4142.0,4452.0,4465.0,4597.0,4466.0,4738.0,5215.0,5152.0,5012.0,5355.0
54,Alaska,4434.0,4845.0,5089.0,5418.0,6143.0,5306.0,5470.0,6684.0,6804.0,6528.0,6278.0,6496.0,6523.0
55,California,3329.0,3536.0,3763.0,4172.0,4135.0,4131.0,4307.0,4626.0,4976.0,4993.0,5071.0,5312.0,5302.0
56,Hawaii,3337.0,3513.0,3525.0,3724.0,3899.0,3706.0,3905.0,4101.0,4421.0,4707.0,5186.0,5126.0,4601.0
57,Nevada,3206.0,3971.0,3790.0,3814.0,3167.0,3214.0,3404.0,3693.0,3482.0,3697.0,3841.0,4110.0,4277.0
58,Oregon,3514.0,3870.0,3969.0,3947.0,4055.0,3742.0,3823.0,3774.0,4179.0,4316.0,4660.0,4686.0,4692.0
59,Washington,3614.0,3836.0,4014.0,3869.0,4125.0,4062.0,4125.0,3933.0,4323.0,4513.0,4722.0,4951.0,5096.0

In [21]:
# Convert columns to a `int` data type.
new_df['2008.0'] = new_df['2008.0'].astype(int)
new_df['2009.0'] = new_df['2009.0'].astype(int)
new_df['2010.0'] = new_df['2010.0'].astype(int)
new_df['2011.0'] = new_df['2011.0'].astype(int)
new_df['2012.0'] = new_df['2012.0'].astype(int)
new_df['2013.0'] = new_df['2013.0'].astype(int)
new_df['2014.0'] = new_df['2014.0'].astype(int)
new_df['2015.0'] = new_df['2015.0'].astype(int)
new_df['2016.0'] = new_df['2016.0'].astype(int)
new_df['2017.0'] = new_df['2017.0'].astype(int)
new_df['2018.0'] = new_df['2018.0'].astype(int)
new_df['2019.0'] = new_df['2019.0'].astype(int)
new_df['2020.0'] = new_df['2020.0'].astype(int)
new_df.head()

,Region/state of residence,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
2,Connecticut,4116,4464,4522,4734,4777,4665,4813,4930,4996,5398,5473,5537,5692
3,Maine,3720,3974,4134,4334,4498,4555,4602,4590,5135,5155,5203,5557,5911
4,Massachusetts,4022,4308,4692,4888,5060,4948,4935,5233,5345,5988,6145,6141,5795
5,New Hampshire,4043,4469,4419,4814,4508,4476,4520,4552,4758,4771,5084,4938,4806
6,Rhode Island,3919,4071,4670,4432,4564,4416,4504,4393,4590,4647,4550,4501,4213

In [22]:
print(new_df.columns)

Index(['Region/state of residence', '2008.0', '2009.0', '2010.0', '2011.0',
       '2012.0', '2013.0', '2014.0', '2015.0', '2016.0', '2017.0', '2018.0',
       '2019.0', '2020.0'],
      dtype='object')

In [23]:
columnHeadchg=new_df.rename(columns={new_df.columns[0]:'State', new_df.columns[1]:'2008',
                         new_df.columns[2]:'2009',new_df.columns[3]:'2010',new_df.columns[4]:'2011',
                         new_df.columns[5]:'2012',new_df.columns[6]:'2013',new_df.columns[7]:'2014',
                         new_df.columns[8]:'2015',new_df.columns[9]:'2016',new_df.columns[10]:'2017',
                         new_df.columns[11]:'2018',new_df.columns[12]:'2019',new_df.columns[13]:'2020'})
columnHeadchg.head()

,State,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
2,Connecticut,4116,4464,4522,4734,4777,4665,4813,4930,4996,5398,5473,5537,5692
3,Maine,3720,3974,4134,4334,4498,4555,4602,4590,5135,5155,5203,5557,5911
4,Massachusetts,4022,4308,4692,4888,5060,4948,4935,5233,5345,5988,6145,6141,5795
5,New Hampshire,4043,4469,4419,4814,4508,4476,4520,4552,4758,4771,5084,4938,4806
6,Rhode Island,3919,4071,4670,4432,4564,4416,4504,4393,4590,4647,4550,4501,4213

In [24]:
sorted_final=columnHeadchg.sort_values('State')
sorted_final

,State,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
30,Alabama,3127,3403,3318,3371,3300,3330,3391,3566,3740,4041,4234,4681,4680
54,Alaska,4434,4845,5089,5418,6143,5306,5470,6684,6804,6528,6278,6496,6523
43,Arizona,3350,3464,3515,3777,3766,3417,3636,3828,4407,4318,4424,4495,4231
31,Arkansas,3211,3219,3160,3320,3562,3479,3663,3724,4128,4359,4634,4770,4836
55,California,3329,3536,3763,4172,4135,4131,4307,4626,4976,4993,5071,5312,5302
48,Colorado,3334,3522,3389,3758,3832,3981,4151,4115,4525,4835,4602,4468,4538
2,Connecticut,4116,4464,4522,4734,4777,4665,4813,4930,4996,5398,5473,5537,5692
9,Delaware,4036,4161,4311,4900,4425,4186,4436,4446,4776,5298,5544,5379,5636
10,District of Columbia,6930,7483,7815,8498,8404,8256,8517,8445,8759,8972,9726,9752,9385
32,Florida,3325,3533,3895,3917,3957,4011,4191,4319,4483,4639,5104,5272,5057
33,Georgia,3373,3475,3578,3761,3853,4018,4133,4520,4613,4700,4820,5277,5359
56,Hawaii,3337,3513,3525,3724,3899,3706,3905,4101,4421,4707,5186,5126,4601
49,Idaho,2732,2936,2898,2799,3027,3064,3170,3486,3759,3767,4076,4094,4075
16,Illinois,3656,4104,4067,4134,4224,4355,4521,4566,4690,5012,5091,5084,4942
17,Indiana,3735,3571,3586,3695,3862,3913,4062,4177,4294,4344,4529,4799,4624
22,Iowa,3342,3551,3741,3609,3771,3680,3780,4011,4192,4629,4780,4836,4605
23,Kansas,3167,3303,3457,3615,3693,3960,4025,4123,4124,4378,4614,4543,4379
34,Kentucky,3306,3797,3919,4313,4323,4246,4238,4408,4303,4124,4644,5065,4934
35,Louisiana,3264,3425,3576,3597,4069,4002,4136,4451,4578,4540,4813,5061,4665
3,Maine,3720,3974,4134,4334,4498,4555,4602,4590,5135,5155,5203,5557,5911
11,Maryland,3384,3739,3836,4036,4031,3893,4033,4140,4262,4486,4850,5024,5045
4,Massachusetts,4022,4308,4692,4888,5060,4948,4935,5233,5345,5988,6145,6141,5795
18,Michigan,3549,3744,3986,3744,3754,3593,3681,3885,4225,4456,4477,4937,4633
24,Minnesota,3543,3656,3704,4148,4083,3888,4090,4176,4355,4554,4642,4938,4825
36,Mississippi,3150,3323,3603,3571,3656,3654,3723,3763,3801,3927,4171,4514,4310
25,Missouri,3276,3636,3421,3832,4188,4012,3933,4068,3995,4465,4836,5081,4864
50,Montana,2945,2914,2952,3365,3517,3514,3520,3339,3863,4377,4377,4583,4274
26,Nebraska,3333,3568,3758,3913,4026,3807,4158,4126,4295,4569,4892,4843,4437
57,Nevada,3206,3971,3790,3814,3167,3214,3404,3693,3482,3697,3841,4110,4277
5,New Hampshire,4043,4469,4419,4814,4508,4476,4520,4552,4758,4771,5084,4938,4806
12,New Jersey,3427,3827,3877,4211,4369,4606,4731,4769,5003,5166,5294,5725,5514
44,New Mexico,2703,3303,3452,3819,4221,4015,4065,4147,4462,4739,4505,4933,4773
13,New York,3966,4408,4684,4824,4834,4957,4871,5265,5324,5881,6367,6445,6264
37,North Carolina,3204,3611,3505,3580,3551,3383,3525,3972,4169,4453,4487,4873,4647
27,North Dakota,3227,3370,3610,3935,4167,4178,4034,4454,4758,4796,4863,4967,4906
19,Ohio,3545,3554,3879,3905,3849,3910,3970,4241,4520,4748,4933,4856,4503
45,Oklahoma,2840,3320,3364,3239,3334,3292,3597,3692,3915,4217,4154,4480,4620
58,Oregon,3514,3870,3969,3947,4055,3742,3823,3774,4179,4316,4660,4686,4692
14,Pennsylvania,3507,3645,3704,4072,4107,4194,4234,4528,4699,4711,4895,5036,4839
6,Rhode Island,3919,4071,4670,4432,4564,4416,4504,4393,4590,4647,4550,4501,4213
38,South Carolina,3300,3521,3488,3810,3705,3803,4007,3819,3972,4134,4153,4243,4402
28,South Dakota,3171,3354,3372,3690,3854,3968,3920,4190,4088,4394,4588,4989,4634
39,Tennessee,3605,3633,3739,3826,4100,4192,4262,4006,4421,4619,4823,5236,5501
46,Texas,3276,3681,3924,3874,4109,4233,4276,4257,4468,4531,4889,5157,4923
51,Utah,2705,2796,2919,3027,3058,3112,3264,3318,3529,3377,3539,3513,3287
7,Vermont,3747,4293,4061,4565,4497,4657,5019,5301,5422,5863,5876,5807,5561
40,Virginia,3092,3264,3472,3447,3694,3713,3876,4061,4150,4316,4598,4761,4434
59,Washington,3614,3836,4014,3869,4125,4062,4125,3933,4323,4513,4722,4951,5096
41,West Virginia,3328,3352,3342,3817,4097,3858,3661,3665,3838,4269,4760,5108,4602
20,Wisconsin,3981,4488,4520,4745,4644,4588,4701,4474,4898,4952,5360,5276,5093
52,Wyoming,3750,4071,3952,4142,4452,4465,4597,4466,4738,5215,5152,5012,5355

In [25]:
new_csv = sorted_final.to_csv('cleaned_PriVenrollee_Data.csv',encoding='utf-8', index=False)

In [26]:
read_csv = pd.read_csv('cleaned_PriVenrollee_Data.csv')
read_csv

,State,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Alabama,3127,3403,3318,3371,3300,3330,3391,3566,3740,4041,4234,4681,4680
1,Alaska,4434,4845,5089,5418,6143,5306,5470,6684,6804,6528,6278,6496,6523
2,Arizona,3350,3464,3515,3777,3766,3417,3636,3828,4407,4318,4424,4495,4231
3,Arkansas,3211,3219,3160,3320,3562,3479,3663,3724,4128,4359,4634,4770,4836
4,California,3329,3536,3763,4172,4135,4131,4307,4626,4976,4993,5071,5312,5302
5,Colorado,3334,3522,3389,3758,3832,3981,4151,4115,4525,4835,4602,4468,4538
6,Connecticut,4116,4464,4522,4734,4777,4665,4813,4930,4996,5398,5473,5537,5692
7,Delaware,4036,4161,4311,4900,4425,4186,4436,4446,4776,5298,5544,5379,5636
8,District of Columbia,6930,7483,7815,8498,8404,8256,8517,8445,8759,8972,9726,9752,9385
9,Florida,3325,3533,3895,3917,3957,4011,4191,4319,4483,4639,5104,5272,5057
10,Georgia,3373,3475,3578,3761,3853,4018,4133,4520,4613,4700,4820,5277,5359
11,Hawaii,3337,3513,3525,3724,3899,3706,3905,4101,4421,4707,5186,5126,4601
12,Idaho,2732,2936,2898,2799,3027,3064,3170,3486,3759,3767,4076,4094,4075
13,Illinois,3656,4104,4067,4134,4224,4355,4521,4566,4690,5012,5091,5084,4942
14,Indiana,3735,3571,3586,3695,3862,3913,4062,4177,4294,4344,4529,4799,4624
15,Iowa,3342,3551,3741,3609,3771,3680,3780,4011,4192,4629,4780,4836,4605
16,Kansas,3167,3303,3457,3615,3693,3960,4025,4123,4124,4378,4614,4543,4379
17,Kentucky,3306,3797,3919,4313,4323,4246,4238,4408,4303,4124,4644,5065,4934
18,Louisiana,3264,3425,3576,3597,4069,4002,4136,4451,4578,4540,4813,5061,4665
19,Maine,3720,3974,4134,4334,4498,4555,4602,4590,5135,5155,5203,5557,5911
20,Maryland,3384,3739,3836,4036,4031,3893,4033,4140,4262,4486,4850,5024,5045
21,Massachusetts,4022,4308,4692,4888,5060,4948,4935,5233,5345,5988,6145,6141,5795
22,Michigan,3549,3744,3986,3744,3754,3593,3681,3885,4225,4456,4477,4937,4633
23,Minnesota,3543,3656,3704,4148,4083,3888,4090,4176,4355,4554,4642,4938,4825
24,Mississippi,3150,3323,3603,3571,3656,3654,3723,3763,3801,3927,4171,4514,4310
25,Missouri,3276,3636,3421,3832,4188,4012,3933,4068,3995,4465,4836,5081,4864
26,Montana,2945,2914,2952,3365,3517,3514,3520,3339,3863,4377,4377,4583,4274
27,Nebraska,3333,3568,3758,3913,4026,3807,4158,4126,4295,4569,4892,4843,4437
28,Nevada,3206,3971,3790,3814,3167,3214,3404,3693,3482,3697,3841,4110,4277
29,New Hampshire,4043,4469,4419,4814,4508,4476,4520,4552,4758,4771,5084,4938,4806
30,New Jersey,3427,3827,3877,4211,4369,4606,4731,4769,5003,5166,5294,5725,5514
31,New Mexico,2703,3303,3452,3819,4221,4015,4065,4147,4462,4739,4505,4933,4773
32,New York,3966,4408,4684,4824,4834,4957,4871,5265,5324,5881,6367,6445,6264
33,North Carolina,3204,3611,3505,3580,3551,3383,3525,3972,4169,4453,4487,4873,4647
34,North Dakota,3227,3370,3610,3935,4167,4178,4034,4454,4758,4796,4863,4967,4906
35,Ohio,3545,3554,3879,3905,3849,3910,3970,4241,4520,4748,4933,4856,4503
36,Oklahoma,2840,3320,3364,3239,3334,3292,3597,3692,3915,4217,4154,4480,4620
37,Oregon,3514,3870,3969,3947,4055,3742,3823,3774,4179,4316,4660,4686,4692
38,Pennsylvania,3507,3645,3704,4072,4107,4194,4234,4528,4699,4711,4895,5036,4839
39,Rhode Island,3919,4071,4670,4432,4564,4416,4504,4393,4590,4647,4550,4501,4213
40,South Carolina,3300,3521,3488,3810,3705,3803,4007,3819,3972,4134,4153,4243,4402
41,South Dakota,3171,3354,3372,3690,3854,3968,3920,4190,4088,4394,4588,4989,4634
42,Tennessee,3605,3633,3739,3826,4100,4192,4262,4006,4421,4619,4823,5236,5501
43,Texas,3276,3681,3924,3874,4109,4233,4276,4257,4468,4531,4889,5157,4923
44,Utah,2705,2796,2919,3027,3058,3112,3264,3318,3529,3377,3539,3513,3287
45,Vermont,3747,4293,4061,4565,4497,4657,5019,5301,5422,5863,5876,5807,5561
46,Virginia,3092,3264,3472,3447,3694,3713,3876,4061,4150,4316,4598,4761,4434
47,Washington,3614,3836,4014,3869,4125,4062,4125,3933,4323,4513,4722,4951,5096
48,West Virginia,3328,3352,3342,3817,4097,3858,3661,3665,3838,4269,4760,5108,4602
49,Wisconsin,3981,4488,4520,4745,4644,4588,4701,4474,4898,4952,5360,5276,5093
50,Wyoming,3750,4071,3952,4142,4452,4465,4597,4466,4738,5215,5152,5012,5355

In [27]:
print(read_csv.columns)

Index(['State', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020'],
      dtype='object')

In [28]:
read_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   State   51 non-null     object
 1   2008    51 non-null     int64
 2   2009    51 non-null     int64
 3   2010    51 non-null     int64
 4   2011    51 non-null     int64
 5   2012    51 non-null     int64
 6   2013    51 non-null     int64
 7   2014    51 non-null     int64
 8   2015    51 non-null     int64
 9   2016    51 non-null     int64
 10  2017    51 non-null     int64
 11  2018    51 non-null     int64
 12  2019    51 non-null     int64
 13  2020    51 non-null     int64
dtypes: int64(13), object(1)
memory usage: 5.7+ KB

-------------------------------------------------Extract and Clean Table 23------------------------------------------------------

In [29]:
cms_wb = openpyxl.load_workbook('Residence_all_tables.xlsx')
Ws = cms_wb.sheetnames

In [30]:
print(Ws)

['Contents', 'Table 1 Personal Health Care', 'Table 2 Hospital', 'Table 3 Physician and Clinics', 'Table 4 Other Professionals', 'Table 5 Dental', 'Table 6 Home Health', 'Table 7 Nursing', 'Table 8 Drugs and Non-durables', 'Table 9 Durables', 'Table 10 Other Health', 'Table 11 Personal Health Care', 'Table 12 Hospital', 'Table 13 Physician and Clinics', 'Table 14 Other Professionals', 'Table 15 Dental', 'Table 16 Home Health', 'Table 17 Nursing', 'Table 18 Drugs and Non-durables', 'Table 19 Durables', 'Table 20 Other Health', 'Table 21 Population', 'Table 22 Medicare', 'Table 23 Medicare Per Enrollee', 'Table 24 Medicare Enrollment', 'Table 25 Medicaid', 'Table 26 Medicaid Per Enrollee', 'Table 27 Medicaid Enrollment', 'Table 28 Private Health', 'Table 29 Private Per Enrollee', 'Table 30 Private Enrollment']

In [31]:
keep_sheets = ['Table 23 Medicare Per Enrollee']
for sheetName in cms_wb.sheetnames:
    if sheetName not in keep_sheets:
        del cms_wb[sheetName]
cms_wb.save('Medicare.xlsx')

In [32]:
med_xls = pd.read_excel('Medicare.xlsx')

In [33]:
med_xls

,Table 23: Medicare Per Enrollee State Estimates by State of Residence (1991-2020) - Personal Health Care (Dollars),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,Region/state of residence,1991.0,1992.0,1993.0,1994.0,1995.0,1996.0,1997.0,1998.0,1999.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Average\nAnnual %\nGrowth\n(1991-2020)
1,United States,3431.0,3796.0,4108.0,4511.0,4884.0,5181.0,5406.0,5307.0,5383.0,...,10741.0,10796.0,10965.0,11168.0,11279.0,11529.0,11871.0,12372.0,12271.0,0.045
2,New England,3539.0,3949.0,4334.0,4717.0,5170.0,5531.0,5690.0,5502.0,5562.0,...,10799.0,10884.0,11167.0,11398.0,11521.0,11699.0,11991.0,12419.0,12011.0,0.043
3,Connecticut,3584.0,3987.0,4347.0,4795.0,5287.0,5612.0,5773.0,5630.0,5674.0,...,11263.0,11592.0,11898.0,12113.0,12173.0,12472.0,12635.0,13136.0,12905.0,0.045
4,Maine,2668.0,2895.0,3124.0,3442.0,3785.0,4095.0,4361.0,4308.0,4337.0,...,8872.0,9013.0,9287.0,9493.0,9700.0,10019.0,10255.0,10732.0,10343.0,0.048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,Nevada,3332.0,3618.0,3988.0,4320.0,4557.0,4799.0,5045.0,4861.0,5162.0,...,10389.0,10553.0,10791.0,11118.0,11400.0,11662.0,12075.0,12614.0,12503.0,0.047
59,Oregon,2686.0,2969.0,3116.0,3253.0,3499.0,3702.0,3879.0,3857.0,4099.0,...,8567.0,8644.0,8904.0,9156.0,9372.0,9659.0,9940.0,10326.0,10263.0,0.047
60,Washington,3034.0,3362.0,3490.0,3715.0,3947.0,4112.0,4342.0,4272.0,4405.0,...,8803.0,8875.0,8992.0,9172.0,9347.0,9606.0,9854.0,10164.0,9966.0,0.042
61,NOTE: Numbers may not add to totals shown beca...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,SOURCE: Centers for Medicare and Medicaid Serv...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
med_xls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 32 columns):
 #   Column                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                              --------------  -----
 0   Table 23: Medicare Per Enrollee State Estimates by State of Residence (1991-2020) - Personal Health Care (Dollars)  63 non-null     object
 1   Unnamed: 1                                                                                                          61 non-null     float64
 2   Unnamed: 2                                                                                                          61 non-null     float64
 3   Unnamed: 3                                                                                                          61 non-null     float64
 4   Unnamed: 4                                                                                                          61 non-null     float64
 5   Unnamed: 5                                                                                                          61 non-null     float64
 6   Unnamed: 6                                                                                                          61 non-null     float64
 7   Unnamed: 7                                                                                                          61 non-null     float64
 8   Unnamed: 8                                                                                                          61 non-null     float64
 9   Unnamed: 9                                                                                                          61 non-null     float64
 10  Unnamed: 10                                                                                                         61 non-null     float64
 11  Unnamed: 11                                                                                                         61 non-null     float64
 12  Unnamed: 12                                                                                                         61 non-null     float64
 13  Unnamed: 13                                                                                                         61 non-null     float64
 14  Unnamed: 14                                                                                                         61 non-null     float64
 15  Unnamed: 15                                                                                                         61 non-null     float64
 16  Unnamed: 16                                                                                                         61 non-null     float64
 17  Unnamed: 17                                                                                                         61 non-null     float64
 18  Unnamed: 18                                                                                                         61 non-null     float64
 19  Unnamed: 19                                                                                                         61 non-null     float64
 20  Unnamed: 20                                                                                                         61 non-null     float64
 21  Unnamed: 21                                                                                                         61 non-null     float64
 22  Unnamed: 22                                                                                                         61 non-null     float64
 23  Unnamed: 23                                                                                                         61 non-null     float64
 24  Unnamed: 24                                                                                                         61 non-null     float64
 25  Unnamed: 25                                                                                                         61 non-null     float64
 26  Unnamed: 26                                                                                                         61 non-null     float64
 27  Unnamed: 27                                                                                                         61 non-null     float64
 28  Unnamed: 28                                                                                                         61 non-null     float64
 29  Unnamed: 29                                                                                                         61 non-null     float64
 30  Unnamed: 30                                                                                                         61 non-null     float64
 31  Unnamed: 31                                                                                                         61 non-null     object
dtypes: float64(30), object(2)
memory usage: 15.9+ KB

In [35]:
med_xls.to_csv('Medicare.csv', encoding='utf-8', header=None, index=False)

In [36]:
med_csv = pd.read_csv('Medicare.csv')
med_csv

,Region/state of residence,1991.0,1992.0,1993.0,1994.0,1995.0,1996.0,1997.0,1998.0,1999.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Average\nAnnual %\nGrowth\n(1991-2020)
0,United States,3431.0,3796.0,4108.0,4511.0,4884.0,5181.0,5406.0,5307.0,5383.0,...,10741.0,10796.0,10965.0,11168.0,11279.0,11529.0,11871.0,12372.0,12271.0,0.045
1,New England,3539.0,3949.0,4334.0,4717.0,5170.0,5531.0,5690.0,5502.0,5562.0,...,10799.0,10884.0,11167.0,11398.0,11521.0,11699.0,11991.0,12419.0,12011.0,0.043
2,Connecticut,3584.0,3987.0,4347.0,4795.0,5287.0,5612.0,5773.0,5630.0,5674.0,...,11263.0,11592.0,11898.0,12113.0,12173.0,12472.0,12635.0,13136.0,12905.0,0.045
3,Maine,2668.0,2895.0,3124.0,3442.0,3785.0,4095.0,4361.0,4308.0,4337.0,...,8872.0,9013.0,9287.0,9493.0,9700.0,10019.0,10255.0,10732.0,10343.0,0.048
4,Massachusetts,3950.0,4437.0,4931.0,5326.0,5830.0,6225.0,6318.0,6045.0,6166.0,...,11684.0,11600.0,11927.0,12199.0,12314.0,12425.0,12902.0,13391.0,12917.0,0.042
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,Nevada,3332.0,3618.0,3988.0,4320.0,4557.0,4799.0,5045.0,4861.0,5162.0,...,10389.0,10553.0,10791.0,11118.0,11400.0,11662.0,12075.0,12614.0,12503.0,0.047
58,Oregon,2686.0,2969.0,3116.0,3253.0,3499.0,3702.0,3879.0,3857.0,4099.0,...,8567.0,8644.0,8904.0,9156.0,9372.0,9659.0,9940.0,10326.0,10263.0,0.047
59,Washington,3034.0,3362.0,3490.0,3715.0,3947.0,4112.0,4342.0,4272.0,4405.0,...,8803.0,8875.0,8992.0,9172.0,9347.0,9606.0,9854.0,10164.0,9966.0,0.042
60,NOTE: Numbers may not add to totals shown beca...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,SOURCE: Centers for Medicare and Medicaid Serv...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
med_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 32 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Region/state of residence            62 non-null     object
 1   1991.0                               60 non-null     float64
 2   1992.0                               60 non-null     float64
 3   1993.0                               60 non-null     float64
 4   1994.0                               60 non-null     float64
 5   1995.0                               60 non-null     float64
 6   1996.0                               60 non-null     float64
 7   1997.0                               60 non-null     float64
 8   1998.0                               60 non-null     float64
 9   1999.0                               60 non-null     float64
 10  2000.0                               60 non-null     float64
 11  2001.0                               60 non-null     float64
 12  2002.0                               60 non-null     float64
 13  2003.0                               60 non-null     float64
 14  2004.0                               60 non-null     float64
 15  2005.0                               60 non-null     float64
 16  2006.0                               60 non-null     float64
 17  2007.0                               60 non-null     float64
 18  2008.0                               60 non-null     float64
 19  2009.0                               60 non-null     float64
 20  2010.0                               60 non-null     float64
 21  2011.0                               60 non-null     float64
 22  2012.0                               60 non-null     float64
 23  2013.0                               60 non-null     float64
 24  2014.0                               60 non-null     float64
 25  2015.0                               60 non-null     float64
 26  2016.0                               60 non-null     float64
 27  2017.0                               60 non-null     float64
 28  2018.0                               60 non-null     float64
 29  2019.0                               60 non-null     float64
 30  2020.0                               60 non-null     float64
 31  Average
Annual %
Growth
(1991-2020)  60 non-null     float64
dtypes: float64(31), object(1)
memory usage: 15.6+ KB

In [38]:
print(med_csv.columns)

Index(['Region/state of residence', '1991.0', '1992.0', '1993.0', '1994.0',
       '1995.0', '1996.0', '1997.0', '1998.0', '1999.0', '2000.0', '2001.0',
       '2002.0', '2003.0', '2004.0', '2005.0', '2006.0', '2007.0', '2008.0',
       '2009.0', '2010.0', '2011.0', '2012.0', '2013.0', '2014.0', '2015.0',
       '2016.0', '2017.0', '2018.0', '2019.0', '2020.0',
       'Average\nAnnual %\nGrowth\n(1991-2020)'],
      dtype='object')

In [39]:
df_med = med_csv.drop(columns=['Average\nAnnual %\nGrowth\n(1991-2020)', '1991.0', '1992.0', '1993.0', '1994.0',
       '1995.0', '1996.0', '1997.0', '1998.0', '1999.0', '2000.0', '2001.0',
       '2002.0', '2003.0', '2004.0', '2005.0', '2006.0', '2007.0'])
df_med.head(61)

,Region/state of residence,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
0,United States,9959.0,10339.0,10493.0,10721.0,10741.0,10796.0,10965.0,11168.0,11279.0,11529.0,11871.0,12372.0,12271.0
1,New England,10048.0,10439.0,10558.0,10779.0,10799.0,10884.0,11167.0,11398.0,11521.0,11699.0,11991.0,12419.0,12011.0
2,Connecticut,10702.0,11060.0,11080.0,11343.0,11263.0,11592.0,11898.0,12113.0,12173.0,12472.0,12635.0,13136.0,12905.0
3,Maine,8293.0,8647.0,8622.0,8952.0,8872.0,9013.0,9287.0,9493.0,9700.0,10019.0,10255.0,10732.0,10343.0
4,Massachusetts,10742.0,11200.0,11384.0,11566.0,11684.0,11600.0,11927.0,12199.0,12314.0,12425.0,12902.0,13391.0,12917.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Hawaii,7406.0,7686.0,7864.0,8143.0,8307.0,8277.0,8547.0,8802.0,9006.0,9071.0,9342.0,9812.0,9837.0
57,Nevada,9291.0,9756.0,10043.0,10342.0,10389.0,10553.0,10791.0,11118.0,11400.0,11662.0,12075.0,12614.0,12503.0
58,Oregon,7909.0,8220.0,8316.0,8504.0,8567.0,8644.0,8904.0,9156.0,9372.0,9659.0,9940.0,10326.0,10263.0
59,Washington,8054.0,8437.0,8448.0,8631.0,8803.0,8875.0,8992.0,9172.0,9347.0,9606.0,9854.0,10164.0,9966.0
60,NOTE: Numbers may not add to totals shown beca...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
newMed_df=df_med.drop([0, 1, 8, 15, 21, 29, 47, 42, 53, 60, 61])
newMed_df

,Region/state of residence,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
2,Connecticut,10702.0,11060.0,11080.0,11343.0,11263.0,11592.0,11898.0,12113.0,12173.0,12472.0,12635.0,13136.0,12905.0
3,Maine,8293.0,8647.0,8622.0,8952.0,8872.0,9013.0,9287.0,9493.0,9700.0,10019.0,10255.0,10732.0,10343.0
4,Massachusetts,10742.0,11200.0,11384.0,11566.0,11684.0,11600.0,11927.0,12199.0,12314.0,12425.0,12902.0,13391.0,12917.0
5,New Hampshire,8355.0,8597.0,8698.0,9122.0,9084.0,9214.0,9304.0,9561.0,9844.0,10092.0,10493.0,10752.0,10086.0
6,Rhode Island,9662.0,10103.0,10320.0,10332.0,10305.0,10519.0,10861.0,10894.0,10913.0,10856.0,11009.0,11420.0,11231.0
7,Vermont,8183.0,8479.0,8750.0,8837.0,8943.0,9047.0,9195.0,9497.0,9662.0,9829.0,9234.0,9088.0,8726.0
9,Delaware,10157.0,10358.0,10589.0,10930.0,10836.0,11126.0,11525.0,11632.0,11790.0,11867.0,12184.0,12594.0,12101.0
10,District of Columbia,11031.0,11210.0,11312.0,11549.0,11549.0,11714.0,11840.0,12266.0,12470.0,12662.0,12844.0,13296.0,13350.0
11,Maryland,11178.0,11334.0,11407.0,11904.0,11727.0,11824.0,12058.0,12319.0,12331.0,12625.0,12820.0,13206.0,12805.0
12,New Jersey,11504.0,11848.0,12028.0,12302.0,12172.0,12303.0,12625.0,12756.0,12931.0,12957.0,13308.0,13589.0,13084.0
13,New York,11169.0,11587.0,11695.0,11958.0,11954.0,11952.0,12110.0,12288.0,12381.0,12578.0,12923.0,13552.0,13379.0
14,Pennsylvania,10194.0,10563.0,10712.0,10966.0,10893.0,10987.0,11203.0,11412.0,11422.0,11706.0,12004.0,12331.0,12160.0
16,Illinois,10173.0,10550.0,10764.0,11026.0,10960.0,10967.0,11129.0,11231.0,11373.0,11603.0,11982.0,12409.0,12109.0
17,Indiana,9352.0,9790.0,10003.0,10323.0,10354.0,10517.0,10706.0,10834.0,11014.0,11269.0,11621.0,12131.0,12126.0
18,Michigan,10514.0,10862.0,10889.0,11048.0,11048.0,11109.0,11251.0,11380.0,11392.0,11592.0,11726.0,12102.0,11773.0
19,Ohio,9849.0,10286.0,10490.0,10775.0,10721.0,10878.0,11000.0,11021.0,11132.0,11460.0,11801.0,12286.0,12148.0
20,Wisconsin,8518.0,8837.0,8898.0,9106.0,9200.0,9286.0,9571.0,9775.0,9881.0,10204.0,10571.0,11002.0,10886.0
22,Iowa,8036.0,8301.0,8485.0,8762.0,8914.0,9079.0,9240.0,9506.0,9587.0,9974.0,10283.0,10741.0,10684.0
23,Kansas,9084.0,9312.0,9554.0,9759.0,9780.0,9831.0,10105.0,10223.0,10289.0,10640.0,11065.0,11469.0,11347.0
24,Minnesota,8648.0,8859.0,9005.0,9176.0,9294.0,9508.0,9880.0,10206.0,10236.0,10773.0,11147.0,11131.0,10899.0
25,Missouri,9290.0,9666.0,9829.0,10011.0,10153.0,10204.0,10446.0,10582.0,10715.0,11052.0,11390.0,11935.0,11985.0
26,Nebraska,8731.0,9016.0,9332.0,9518.0,9595.0,9737.0,9897.0,10228.0,10301.0,10657.0,11083.0,11496.0,11541.0
27,North Dakota,7686.0,7740.0,7965.0,8608.0,8900.0,9082.0,9451.0,9698.0,9971.0,10342.0,10572.0,10855.0,10843.0
28,South Dakota,7730.0,7971.0,8151.0,8645.0,8736.0,8925.0,9268.0,9573.0,9818.0,10064.0,10342.0,10736.0,10567.0
30,Alabama,9473.0,9710.0,9821.0,9942.0,10006.0,10061.0,10247.0,10489.0,10612.0,10919.0,11343.0,11945.0,12013.0
31,Arkansas,8635.0,8877.0,8939.0,9162.0,9240.0,9253.0,9435.0,9689.0,9898.0,10268.0,10728.0,11299.0,11284.0
32,Florida,11354.0,11958.0,12057.0,12293.0,12325.0,12186.0,12263.0,12484.0,12393.0,12518.0,12913.0,13570.0,13652.0
33,Georgia,9450.0,9811.0,10016.0,10162.0,10247.0,10315.0,10394.0,10562.0,10812.0,11139.0,11543.0,12192.0,12256.0
34,Kentucky,9256.0,9561.0,9823.0,10098.0,10104.0,10211.0,10306.0,10388.0,10628.0,11054.0,11337.0,11818.0,11658.0
35,Louisiana,11329.0,11734.0,12016.0,12145.0,11963.0,11786.0,11801.0,11954.0,12064.0,12277.0,12613.0,13059.0,13177.0
36,Mississippi,10245.0,10621.0,10873.0,10932.0,10928.0,10823.0,10986.0,11214.0,11380.0,11703.0,12075.0,12682.0,12426.0
37,North Carolina,9345.0,9706.0,9914.0,10124.0,10120.0,10210.0,10291.0,10481.0,10603.0,10839.0,11263.0,11812.0,11810.0
38,South Carolina,9285.0,9605.0,9837.0,9986.0,10026.0,10114.0,10278.0,10397.0,10510.0,10862.0,11229.0,11820.0,11884.0
39,Tennessee,9625.0,10019.0,10130.0,10250.0,10224.0,10144.0,10334.0,10579.0,10722.0,11113.0,11312.0,11877.0,11894.0
40,Virginia,8436.0,8733.0,8890.0,9200.0,9287.0,9453.0,9615.0,9764.0,9906.0,10162.0,10482.0,10947.0,10622.0
41,West Virginia,9012.0,9253.0,9422.0,9716.0,9796.0,9972.0,10233.0,10366.0,10652.0,10980.0,11335.0,11853.0,11522.0
43,Arizona,9054.0,9417.0,9611.0,9921.0,9970.0,10033.0,10100.0,10279.0,10400.0,10845.0,11213.0,11495.0,11477.0
44,New Mexico,7811.0,8131.0,8273.0,8476.0,8545.0,8581.0,8709.0,8873.0,9087.0,9302.0,9579.0,9953.0,9796.0
45,Oklahoma,9688.0,9934.0,10238.0,10285.0,10192.0,10185.0,10460.0,10717.0,10964.0,11435.0,11921.0,12629.0,12428.0
46,Texas,11020.0,11492.0,11663.0,11814.0,11779.0,11745.0,11919.0,12118.0,12178.0,12362.0,12744.0,13394.0,13458.0
48,Colorado,8376.0,8702.0,8865.0,8943.0,9023.0,8931.0,9239.0,9427.0,9549.0,9943.0,10234.0,10615.0,10582.0
49,Idaho,7455.0,7800.0,7877.0,8181.0,8351.0,8410.0,8749.0,8886.0,9046.0,9230.0,9505.0,9928.0,9948.0
50,Montana,7324.0,7421.0,7596.0,7683.0,7821.0,8012.0,8208.0,8381.0,8600.0,9101.0,9275.0,9787.0,9338.0
51,Utah,7947.0,8300.0,8425.0,8638.0,8730.0,8824.0,9055.0,9221.0,9311.0,9802.0,10160.0,10665.0,10664.0
52,Wyoming,7596.0,8001.0,8444.0,8717.0,8826.0,8839.0,9096.0,9545.0,9712.0,9870.0,10342.0,10590.0,10274.0
54,Alaska,8089.0,8617.0,8554.0,8828.0,8783.0,9091.0,9357.0,9376.0,9888.0,10117.0,10524.0,11027.0,10600.0
55,California,10549.0,10975.0,11142.0,11421.0,11529.0,11680.0,11769.0,12146.0,12320.0,12488.0,12877.0,13485.0,13564.0
56,Hawaii,7406.0,7686.0,7864.0,8143.0,8307.0,8277.0,8547.0,8802.0,9006.0,9071.0,9342.0,9812.0,9837.0
57,Nevada,9291.0,9756.0,10043.0,10342.0,10389.0,10553.0,10791.0,11118.0,11400.0,11662.0,12075.0,12614.0,12503.0
58,Oregon,7909.0,8220.0,8316.0,8504.0,8567.0,8644.0,8904.0,9156.0,9372.0,9659.0,9940.0,10326.0,10263.0
59,Washington,8054.0,8437.0,8448.0,8631.0,8803.0,8875.0,8992.0,9172.0,9347.0,9606.0,9854.0,10164.0,9966.0

In [41]:
# Convert columns to a `int` data type.
newMed_df['2008.0'] = newMed_df['2008.0'].astype(int)
newMed_df['2009.0'] = newMed_df['2009.0'].astype(int)
newMed_df['2010.0'] = newMed_df['2010.0'].astype(int)
newMed_df['2011.0'] = newMed_df['2011.0'].astype(int)
newMed_df['2012.0'] = newMed_df['2012.0'].astype(int)
newMed_df['2013.0'] = newMed_df['2013.0'].astype(int)
newMed_df['2014.0'] = newMed_df['2014.0'].astype(int)
newMed_df['2015.0'] = newMed_df['2015.0'].astype(int)
newMed_df['2016.0'] = newMed_df['2016.0'].astype(int)
newMed_df['2017.0'] = newMed_df['2017.0'].astype(int)
newMed_df['2018.0'] = newMed_df['2018.0'].astype(int)
newMed_df['2019.0'] = newMed_df['2019.0'].astype(int)
newMed_df['2020.0'] = newMed_df['2020.0'].astype(int)
newMed_df.head()

,Region/state of residence,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
2,Connecticut,10702,11060,11080,11343,11263,11592,11898,12113,12173,12472,12635,13136,12905
3,Maine,8293,8647,8622,8952,8872,9013,9287,9493,9700,10019,10255,10732,10343
4,Massachusetts,10742,11200,11384,11566,11684,11600,11927,12199,12314,12425,12902,13391,12917
5,New Hampshire,8355,8597,8698,9122,9084,9214,9304,9561,9844,10092,10493,10752,10086
6,Rhode Island,9662,10103,10320,10332,10305,10519,10861,10894,10913,10856,11009,11420,11231

In [42]:
print(newMed_df.columns)

Index(['Region/state of residence', '2008.0', '2009.0', '2010.0', '2011.0',
       '2012.0', '2013.0', '2014.0', '2015.0', '2016.0', '2017.0', '2018.0',
       '2019.0', '2020.0'],
      dtype='object')

In [43]:
columnHeadchgMed=newMed_df.rename(columns={newMed_df.columns[0]:'State', newMed_df.columns[1]:'2008',
                         newMed_df.columns[2]:'2009',newMed_df.columns[3]:'2010',newMed_df.columns[4]:'2011',
                         newMed_df.columns[5]:'2012',newMed_df.columns[6]:'2013',newMed_df.columns[7]:'2014',
                         newMed_df.columns[8]:'2015',newMed_df.columns[9]:'2016',newMed_df.columns[10]:'2017',
                         newMed_df.columns[11]:'2018',newMed_df.columns[12]:'2019',newMed_df.columns[13]:'2020'})
columnHeadchgMed.head()

,State,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
2,Connecticut,10702,11060,11080,11343,11263,11592,11898,12113,12173,12472,12635,13136,12905
3,Maine,8293,8647,8622,8952,8872,9013,9287,9493,9700,10019,10255,10732,10343
4,Massachusetts,10742,11200,11384,11566,11684,11600,11927,12199,12314,12425,12902,13391,12917
5,New Hampshire,8355,8597,8698,9122,9084,9214,9304,9561,9844,10092,10493,10752,10086
6,Rhode Island,9662,10103,10320,10332,10305,10519,10861,10894,10913,10856,11009,11420,11231

In [44]:
sorted_finalMed=columnHeadchgMed.sort_values('State')
sorted_finalMed

,State,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
30,Alabama,9473,9710,9821,9942,10006,10061,10247,10489,10612,10919,11343,11945,12013
54,Alaska,8089,8617,8554,8828,8783,9091,9357,9376,9888,10117,10524,11027,10600
43,Arizona,9054,9417,9611,9921,9970,10033,10100,10279,10400,10845,11213,11495,11477
31,Arkansas,8635,8877,8939,9162,9240,9253,9435,9689,9898,10268,10728,11299,11284
55,California,10549,10975,11142,11421,11529,11680,11769,12146,12320,12488,12877,13485,13564
48,Colorado,8376,8702,8865,8943,9023,8931,9239,9427,9549,9943,10234,10615,10582
2,Connecticut,10702,11060,11080,11343,11263,11592,11898,12113,12173,12472,12635,13136,12905
9,Delaware,10157,10358,10589,10930,10836,11126,11525,11632,11790,11867,12184,12594,12101
10,District of Columbia,11031,11210,11312,11549,11549,11714,11840,12266,12470,12662,12844,13296,13350
32,Florida,11354,11958,12057,12293,12325,12186,12263,12484,12393,12518,12913,13570,13652
33,Georgia,9450,9811,10016,10162,10247,10315,10394,10562,10812,11139,11543,12192,12256
56,Hawaii,7406,7686,7864,8143,8307,8277,8547,8802,9006,9071,9342,9812,9837
49,Idaho,7455,7800,7877,8181,8351,8410,8749,8886,9046,9230,9505,9928,9948
16,Illinois,10173,10550,10764,11026,10960,10967,11129,11231,11373,11603,11982,12409,12109
17,Indiana,9352,9790,10003,10323,10354,10517,10706,10834,11014,11269,11621,12131,12126
22,Iowa,8036,8301,8485,8762,8914,9079,9240,9506,9587,9974,10283,10741,10684
23,Kansas,9084,9312,9554,9759,9780,9831,10105,10223,10289,10640,11065,11469,11347
34,Kentucky,9256,9561,9823,10098,10104,10211,10306,10388,10628,11054,11337,11818,11658
35,Louisiana,11329,11734,12016,12145,11963,11786,11801,11954,12064,12277,12613,13059,13177
3,Maine,8293,8647,8622,8952,8872,9013,9287,9493,9700,10019,10255,10732,10343
11,Maryland,11178,11334,11407,11904,11727,11824,12058,12319,12331,12625,12820,13206,12805
4,Massachusetts,10742,11200,11384,11566,11684,11600,11927,12199,12314,12425,12902,13391,12917
18,Michigan,10514,10862,10889,11048,11048,11109,11251,11380,11392,11592,11726,12102,11773
24,Minnesota,8648,8859,9005,9176,9294,9508,9880,10206,10236,10773,11147,11131,10899
36,Mississippi,10245,10621,10873,10932,10928,10823,10986,11214,11380,11703,12075,12682,12426
25,Missouri,9290,9666,9829,10011,10153,10204,10446,10582,10715,11052,11390,11935,11985
50,Montana,7324,7421,7596,7683,7821,8012,8208,8381,8600,9101,9275,9787,9338
26,Nebraska,8731,9016,9332,9518,9595,9737,9897,10228,10301,10657,11083,11496,11541
57,Nevada,9291,9756,10043,10342,10389,10553,10791,11118,11400,11662,12075,12614,12503
5,New Hampshire,8355,8597,8698,9122,9084,9214,9304,9561,9844,10092,10493,10752,10086
12,New Jersey,11504,11848,12028,12302,12172,12303,12625,12756,12931,12957,13308,13589,13084
44,New Mexico,7811,8131,8273,8476,8545,8581,8709,8873,9087,9302,9579,9953,9796
13,New York,11169,11587,11695,11958,11954,11952,12110,12288,12381,12578,12923,13552,13379
37,North Carolina,9345,9706,9914,10124,10120,10210,10291,10481,10603,10839,11263,11812,11810
27,North Dakota,7686,7740,7965,8608,8900,9082,9451,9698,9971,10342,10572,10855,10843
19,Ohio,9849,10286,10490,10775,10721,10878,11000,11021,11132,11460,11801,12286,12148
45,Oklahoma,9688,9934,10238,10285,10192,10185,10460,10717,10964,11435,11921,12629,12428
58,Oregon,7909,8220,8316,8504,8567,8644,8904,9156,9372,9659,9940,10326,10263
14,Pennsylvania,10194,10563,10712,10966,10893,10987,11203,11412,11422,11706,12004,12331,12160
6,Rhode Island,9662,10103,10320,10332,10305,10519,10861,10894,10913,10856,11009,11420,11231
38,South Carolina,9285,9605,9837,9986,10026,10114,10278,10397,10510,10862,11229,11820,11884
28,South Dakota,7730,7971,8151,8645,8736,8925,9268,9573,9818,10064,10342,10736,10567
39,Tennessee,9625,10019,10130,10250,10224,10144,10334,10579,10722,11113,11312,11877,11894
46,Texas,11020,11492,11663,11814,11779,11745,11919,12118,12178,12362,12744,13394,13458
51,Utah,7947,8300,8425,8638,8730,8824,9055,9221,9311,9802,10160,10665,10664
7,Vermont,8183,8479,8750,8837,8943,9047,9195,9497,9662,9829,9234,9088,8726
40,Virginia,8436,8733,8890,9200,9287,9453,9615,9764,9906,10162,10482,10947,10622
59,Washington,8054,8437,8448,8631,8803,8875,8992,9172,9347,9606,9854,10164,9966
41,West Virginia,9012,9253,9422,9716,9796,9972,10233,10366,10652,10980,11335,11853,11522
20,Wisconsin,8518,8837,8898,9106,9200,9286,9571,9775,9881,10204,10571,11002,10886
52,Wyoming,7596,8001,8444,8717,8826,8839,9096,9545,9712,9870,10342,10590,10274

In [45]:
new_csvMed = sorted_finalMed.to_csv('cleaned_Medicare.csv',encoding='utf-8', index=False)

In [46]:
read_csvMed = pd.read_csv('cleaned_Medicare.csv')
read_csvMed

,State,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Alabama,9473,9710,9821,9942,10006,10061,10247,10489,10612,10919,11343,11945,12013
1,Alaska,8089,8617,8554,8828,8783,9091,9357,9376,9888,10117,10524,11027,10600
2,Arizona,9054,9417,9611,9921,9970,10033,10100,10279,10400,10845,11213,11495,11477
3,Arkansas,8635,8877,8939,9162,9240,9253,9435,9689,9898,10268,10728,11299,11284
4,California,10549,10975,11142,11421,11529,11680,11769,12146,12320,12488,12877,13485,13564
5,Colorado,8376,8702,8865,8943,9023,8931,9239,9427,9549,9943,10234,10615,10582
6,Connecticut,10702,11060,11080,11343,11263,11592,11898,12113,12173,12472,12635,13136,12905
7,Delaware,10157,10358,10589,10930,10836,11126,11525,11632,11790,11867,12184,12594,12101
8,District of Columbia,11031,11210,11312,11549,11549,11714,11840,12266,12470,12662,12844,13296,13350
9,Florida,11354,11958,12057,12293,12325,12186,12263,12484,12393,12518,12913,13570,13652
10,Georgia,9450,9811,10016,10162,10247,10315,10394,10562,10812,11139,11543,12192,12256
11,Hawaii,7406,7686,7864,8143,8307,8277,8547,8802,9006,9071,9342,9812,9837
12,Idaho,7455,7800,7877,8181,8351,8410,8749,8886,9046,9230,9505,9928,9948
13,Illinois,10173,10550,10764,11026,10960,10967,11129,11231,11373,11603,11982,12409,12109
14,Indiana,9352,9790,10003,10323,10354,10517,10706,10834,11014,11269,11621,12131,12126
15,Iowa,8036,8301,8485,8762,8914,9079,9240,9506,9587,9974,10283,10741,10684
16,Kansas,9084,9312,9554,9759,9780,9831,10105,10223,10289,10640,11065,11469,11347
17,Kentucky,9256,9561,9823,10098,10104,10211,10306,10388,10628,11054,11337,11818,11658
18,Louisiana,11329,11734,12016,12145,11963,11786,11801,11954,12064,12277,12613,13059,13177
19,Maine,8293,8647,8622,8952,8872,9013,9287,9493,9700,10019,10255,10732,10343
20,Maryland,11178,11334,11407,11904,11727,11824,12058,12319,12331,12625,12820,13206,12805
21,Massachusetts,10742,11200,11384,11566,11684,11600,11927,12199,12314,12425,12902,13391,12917
22,Michigan,10514,10862,10889,11048,11048,11109,11251,11380,11392,11592,11726,12102,11773
23,Minnesota,8648,8859,9005,9176,9294,9508,9880,10206,10236,10773,11147,11131,10899
24,Mississippi,10245,10621,10873,10932,10928,10823,10986,11214,11380,11703,12075,12682,12426
25,Missouri,9290,9666,9829,10011,10153,10204,10446,10582,10715,11052,11390,11935,11985
26,Montana,7324,7421,7596,7683,7821,8012,8208,8381,8600,9101,9275,9787,9338
27,Nebraska,8731,9016,9332,9518,9595,9737,9897,10228,10301,10657,11083,11496,11541
28,Nevada,9291,9756,10043,10342,10389,10553,10791,11118,11400,11662,12075,12614,12503
29,New Hampshire,8355,8597,8698,9122,9084,9214,9304,9561,9844,10092,10493,10752,10086
30,New Jersey,11504,11848,12028,12302,12172,12303,12625,12756,12931,12957,13308,13589,13084
31,New Mexico,7811,8131,8273,8476,8545,8581,8709,8873,9087,9302,9579,9953,9796
32,New York,11169,11587,11695,11958,11954,11952,12110,12288,12381,12578,12923,13552,13379
33,North Carolina,9345,9706,9914,10124,10120,10210,10291,10481,10603,10839,11263,11812,11810
34,North Dakota,7686,7740,7965,8608,8900,9082,9451,9698,9971,10342,10572,10855,10843
35,Ohio,9849,10286,10490,10775,10721,10878,11000,11021,11132,11460,11801,12286,12148
36,Oklahoma,9688,9934,10238,10285,10192,10185,10460,10717,10964,11435,11921,12629,12428
37,Oregon,7909,8220,8316,8504,8567,8644,8904,9156,9372,9659,9940,10326,10263
38,Pennsylvania,10194,10563,10712,10966,10893,10987,11203,11412,11422,11706,12004,12331,12160
39,Rhode Island,9662,10103,10320,10332,10305,10519,10861,10894,10913,10856,11009,11420,11231
40,South Carolina,9285,9605,9837,9986,10026,10114,10278,10397,10510,10862,11229,11820,11884
41,South Dakota,7730,7971,8151,8645,8736,8925,9268,9573,9818,10064,10342,10736,10567
42,Tennessee,9625,10019,10130,10250,10224,10144,10334,10579,10722,11113,11312,11877,11894
43,Texas,11020,11492,11663,11814,11779,11745,11919,12118,12178,12362,12744,13394,13458
44,Utah,7947,8300,8425,8638,8730,8824,9055,9221,9311,9802,10160,10665,10664
45,Vermont,8183,8479,8750,8837,8943,9047,9195,9497,9662,9829,9234,9088,8726
46,Virginia,8436,8733,8890,9200,9287,9453,9615,9764,9906,10162,10482,10947,10622
47,Washington,8054,8437,8448,8631,8803,8875,8992,9172,9347,9606,9854,10164,9966
48,West Virginia,9012,9253,9422,9716,9796,9972,10233,10366,10652,10980,11335,11853,11522
49,Wisconsin,8518,8837,8898,9106,9200,9286,9571,9775,9881,10204,10571,11002,10886
50,Wyoming,7596,8001,8444,8717,8826,8839,9096,9545,9712,9870,10342,10590,10274

In [47]:
print(read_csvMed.columns)

Index(['State', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020'],
      dtype='object')

In [48]:
read_csvMed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   State   51 non-null     object
 1   2008    51 non-null     int64
 2   2009    51 non-null     int64
 3   2010    51 non-null     int64
 4   2011    51 non-null     int64
 5   2012    51 non-null     int64
 6   2013    51 non-null     int64
 7   2014    51 non-null     int64
 8   2015    51 non-null     int64
 9   2016    51 non-null     int64
 10  2017    51 non-null     int64
 11  2018    51 non-null     int64
 12  2019    51 non-null     int64
 13  2020    51 non-null     int64
dtypes: int64(13), object(1)
memory usage: 5.7+ KB

-------------------------------------------------Extract and Clean Table 26------------------------------------------------------

In [49]:
cms_wb = openpyxl.load_workbook('Residence_all_tables.xlsx')
Ws = cms_wb.sheetnames

In [50]:
print(Ws)

['Contents', 'Table 1 Personal Health Care', 'Table 2 Hospital', 'Table 3 Physician and Clinics', 'Table 4 Other Professionals', 'Table 5 Dental', 'Table 6 Home Health', 'Table 7 Nursing', 'Table 8 Drugs and Non-durables', 'Table 9 Durables', 'Table 10 Other Health', 'Table 11 Personal Health Care', 'Table 12 Hospital', 'Table 13 Physician and Clinics', 'Table 14 Other Professionals', 'Table 15 Dental', 'Table 16 Home Health', 'Table 17 Nursing', 'Table 18 Drugs and Non-durables', 'Table 19 Durables', 'Table 20 Other Health', 'Table 21 Population', 'Table 22 Medicare', 'Table 23 Medicare Per Enrollee', 'Table 24 Medicare Enrollment', 'Table 25 Medicaid', 'Table 26 Medicaid Per Enrollee', 'Table 27 Medicaid Enrollment', 'Table 28 Private Health', 'Table 29 Private Per Enrollee', 'Table 30 Private Enrollment']

In [51]:
keep_sheets = ['Table 26 Medicaid Per Enrollee']
for sheetName in cms_wb.sheetnames:
    if sheetName not in keep_sheets:
        del cms_wb[sheetName]
cms_wb.save('Medicaid.xlsx')

In [52]:
aid_xls = pd.read_excel('Medicaid.xlsx')

In [53]:
aid_xls

,Table 26: Medicaid Per Enrollee State Estimates by State of Residence (1991-2020) - Personal Health Care (Dollars),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,Region/state of residence,1991.0,1992.0,1993.0,1994.0,1995.0,1996.0,1997.0,1998.0,1999.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Average\nAnnual %\nGrowth\n(1991-2020)
1,United States,3428.0,3633.0,3815.0,4006.0,4213.0,4490.0,4752.0,5044.0,5327.0,...,6682.0,6867.0,6694.0,6777.0,6853.0,6977.0,7245.0,7649.0,7727.0,0.028
2,New England,4685.0,6134.0,6146.0,7123.0,7672.0,7592.0,8279.0,8354.0,8640.0,...,9183.0,9156.0,8611.0,8886.0,8868.0,8824.0,9197.0,9309.0,9390.0,0.024
3,Connecticut,5209.0,6117.0,6297.0,6856.0,7431.0,7517.0,8355.0,8305.0,8561.0,...,9344.0,8785.0,8015.0,8089.0,7682.0,7521.0,7792.0,7517.0,7386.0,0.012
4,Maine,3685.0,4161.0,4801.0,5089.0,5311.0,5717.0,6377.0,7211.0,7189.0,...,7077.0,7824.0,7357.0,7894.0,8070.0,8729.0,9290.0,9417.0,8974.0,0.031
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,Nevada,4347.0,4634.0,4580.0,4243.0,4318.0,4494.0,4846.0,5208.0,4942.0,...,5599.0,5043.0,5373.0,5766.0,5556.0,5823.0,6226.0,6986.0,6074.0,0.012
59,Oregon,3504.0,3517.0,3653.0,3739.0,4407.0,4274.0,3820.0,4363.0,4995.0,...,6651.0,7513.0,7057.0,6713.0,6866.0,7421.0,8232.0,8622.0,8377.0,0.031
60,Washington,3669.0,3724.0,3852.0,3809.0,3812.0,3983.0,4046.0,4315.0,4766.0,...,6141.0,6185.0,5744.0,5545.0,5719.0,5746.0,6173.0,6627.0,6876.0,0.022
61,NOTE: Numbers may not add to totals shown beca...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,SOURCE: Centers for Medicare and Medicaid Serv...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
aid_xls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 32 columns):
 #   Column                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                              --------------  -----
 0   Table 26: Medicaid Per Enrollee State Estimates by State of Residence (1991-2020) - Personal Health Care (Dollars)  63 non-null     object
 1   Unnamed: 1                                                                                                          61 non-null     float64
 2   Unnamed: 2                                                                                                          61 non-null     float64
 3   Unnamed: 3                                                                                                          61 non-null     float64
 4   Unnamed: 4                                                                                                          61 non-null     float64
 5   Unnamed: 5                                                                                                          61 non-null     float64
 6   Unnamed: 6                                                                                                          61 non-null     float64
 7   Unnamed: 7                                                                                                          61 non-null     float64
 8   Unnamed: 8                                                                                                          61 non-null     float64
 9   Unnamed: 9                                                                                                          61 non-null     float64
 10  Unnamed: 10                                                                                                         61 non-null     float64
 11  Unnamed: 11                                                                                                         61 non-null     float64
 12  Unnamed: 12                                                                                                         61 non-null     float64
 13  Unnamed: 13                                                                                                         61 non-null     float64
 14  Unnamed: 14                                                                                                         61 non-null     float64
 15  Unnamed: 15                                                                                                         61 non-null     float64
 16  Unnamed: 16                                                                                                         61 non-null     float64
 17  Unnamed: 17                                                                                                         61 non-null     float64
 18  Unnamed: 18                                                                                                         61 non-null     float64
 19  Unnamed: 19                                                                                                         61 non-null     float64
 20  Unnamed: 20                                                                                                         61 non-null     float64
 21  Unnamed: 21                                                                                                         61 non-null     float64
 22  Unnamed: 22                                                                                                         61 non-null     float64
 23  Unnamed: 23                                                                                                         61 non-null     float64
 24  Unnamed: 24                                                                                                         61 non-null     float64
 25  Unnamed: 25                                                                                                         61 non-null     float64
 26  Unnamed: 26                                                                                                         61 non-null     float64
 27  Unnamed: 27                                                                                                         61 non-null     float64
 28  Unnamed: 28                                                                                                         61 non-null     float64
 29  Unnamed: 29                                                                                                         61 non-null     float64
 30  Unnamed: 30                                                                                                         61 non-null     float64
 31  Unnamed: 31                                                                                                         61 non-null     object
dtypes: float64(30), object(2)
memory usage: 15.9+ KB

In [55]:
aid_xls.to_csv('Medicaid.csv', encoding='utf-8', header=None, index=False)

In [56]:
aid_csv = pd.read_csv('Medicaid.csv')
aid_csv

,Region/state of residence,1991.0,1992.0,1993.0,1994.0,1995.0,1996.0,1997.0,1998.0,1999.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Average\nAnnual %\nGrowth\n(1991-2020)
0,United States,3428.0,3633.0,3815.0,4006.0,4213.0,4490.0,4752.0,5044.0,5327.0,...,6682.0,6867.0,6694.0,6777.0,6853.0,6977.0,7245.0,7649.0,7727.0,0.028
1,New England,4685.0,6134.0,6146.0,7123.0,7672.0,7592.0,8279.0,8354.0,8640.0,...,9183.0,9156.0,8611.0,8886.0,8868.0,8824.0,9197.0,9309.0,9390.0,0.024
2,Connecticut,5209.0,6117.0,6297.0,6856.0,7431.0,7517.0,8355.0,8305.0,8561.0,...,9344.0,8785.0,8015.0,8089.0,7682.0,7521.0,7792.0,7517.0,7386.0,0.012
3,Maine,3685.0,4161.0,4801.0,5089.0,5311.0,5717.0,6377.0,7211.0,7189.0,...,7077.0,7824.0,7357.0,7894.0,8070.0,8729.0,9290.0,9417.0,8974.0,0.031
4,Massachusetts,4962.0,8153.0,7219.0,8621.0,9681.0,9340.0,9893.0,9618.0,10166.0,...,9697.0,9582.0,8870.0,9519.0,9773.0,9616.0,10069.0,10482.0,10844.0,0.027
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,Nevada,4347.0,4634.0,4580.0,4243.0,4318.0,4494.0,4846.0,5208.0,4942.0,...,5599.0,5043.0,5373.0,5766.0,5556.0,5823.0,6226.0,6986.0,6074.0,0.012
58,Oregon,3504.0,3517.0,3653.0,3739.0,4407.0,4274.0,3820.0,4363.0,4995.0,...,6651.0,7513.0,7057.0,6713.0,6866.0,7421.0,8232.0,8622.0,8377.0,0.031
59,Washington,3669.0,3724.0,3852.0,3809.0,3812.0,3983.0,4046.0,4315.0,4766.0,...,6141.0,6185.0,5744.0,5545.0,5719.0,5746.0,6173.0,6627.0,6876.0,0.022
60,NOTE: Numbers may not add to totals shown beca...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,SOURCE: Centers for Medicare and Medicaid Serv...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
aid_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 32 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Region/state of residence            62 non-null     object
 1   1991.0                               60 non-null     float64
 2   1992.0                               60 non-null     float64
 3   1993.0                               60 non-null     float64
 4   1994.0                               60 non-null     float64
 5   1995.0                               60 non-null     float64
 6   1996.0                               60 non-null     float64
 7   1997.0                               60 non-null     float64
 8   1998.0                               60 non-null     float64
 9   1999.0                               60 non-null     float64
 10  2000.0                               60 non-null     float64
 11  2001.0                               60 non-null     float64
 12  2002.0                               60 non-null     float64
 13  2003.0                               60 non-null     float64
 14  2004.0                               60 non-null     float64
 15  2005.0                               60 non-null     float64
 16  2006.0                               60 non-null     float64
 17  2007.0                               60 non-null     float64
 18  2008.0                               60 non-null     float64
 19  2009.0                               60 non-null     float64
 20  2010.0                               60 non-null     float64
 21  2011.0                               60 non-null     float64
 22  2012.0                               60 non-null     float64
 23  2013.0                               60 non-null     float64
 24  2014.0                               60 non-null     float64
 25  2015.0                               60 non-null     float64
 26  2016.0                               60 non-null     float64
 27  2017.0                               60 non-null     float64
 28  2018.0                               60 non-null     float64
 29  2019.0                               60 non-null     float64
 30  2020.0                               60 non-null     float64
 31  Average
Annual %
Growth
(1991-2020)  60 non-null     float64
dtypes: float64(31), object(1)
memory usage: 15.6+ KB

In [58]:
print(aid_csv.columns)

Index(['Region/state of residence', '1991.0', '1992.0', '1993.0', '1994.0',
       '1995.0', '1996.0', '1997.0', '1998.0', '1999.0', '2000.0', '2001.0',
       '2002.0', '2003.0', '2004.0', '2005.0', '2006.0', '2007.0', '2008.0',
       '2009.0', '2010.0', '2011.0', '2012.0', '2013.0', '2014.0', '2015.0',
       '2016.0', '2017.0', '2018.0', '2019.0', '2020.0',
       'Average\nAnnual %\nGrowth\n(1991-2020)'],
      dtype='object')

In [59]:
df_aid = aid_csv.drop(columns=['Average\nAnnual %\nGrowth\n(1991-2020)', '1991.0', '1992.0', '1993.0', '1994.0',
       '1995.0', '1996.0', '1997.0', '1998.0', '1999.0', '2000.0', '2001.0',
       '2002.0', '2003.0', '2004.0', '2005.0', '2006.0', '2007.0'])
df_med.head(61)

,Region/state of residence,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
0,United States,9959.0,10339.0,10493.0,10721.0,10741.0,10796.0,10965.0,11168.0,11279.0,11529.0,11871.0,12372.0,12271.0
1,New England,10048.0,10439.0,10558.0,10779.0,10799.0,10884.0,11167.0,11398.0,11521.0,11699.0,11991.0,12419.0,12011.0
2,Connecticut,10702.0,11060.0,11080.0,11343.0,11263.0,11592.0,11898.0,12113.0,12173.0,12472.0,12635.0,13136.0,12905.0
3,Maine,8293.0,8647.0,8622.0,8952.0,8872.0,9013.0,9287.0,9493.0,9700.0,10019.0,10255.0,10732.0,10343.0
4,Massachusetts,10742.0,11200.0,11384.0,11566.0,11684.0,11600.0,11927.0,12199.0,12314.0,12425.0,12902.0,13391.0,12917.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Hawaii,7406.0,7686.0,7864.0,8143.0,8307.0,8277.0,8547.0,8802.0,9006.0,9071.0,9342.0,9812.0,9837.0
57,Nevada,9291.0,9756.0,10043.0,10342.0,10389.0,10553.0,10791.0,11118.0,11400.0,11662.0,12075.0,12614.0,12503.0
58,Oregon,7909.0,8220.0,8316.0,8504.0,8567.0,8644.0,8904.0,9156.0,9372.0,9659.0,9940.0,10326.0,10263.0
59,Washington,8054.0,8437.0,8448.0,8631.0,8803.0,8875.0,8992.0,9172.0,9347.0,9606.0,9854.0,10164.0,9966.0
60,NOTE: Numbers may not add to totals shown beca...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
newAid_df=df_aid.drop([0, 1, 8, 15, 21, 29, 47, 42, 53, 60, 61])
newAid_df

,Region/state of residence,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
2,Connecticut,9936.0,10800.0,9156.0,8605.0,9344.0,8785.0,8015.0,8089.0,7682.0,7521.0,7792.0,7517.0,7386.0
3,Maine,7177.0,7936.0,6098.0,6742.0,7077.0,7824.0,7357.0,7894.0,8070.0,8729.0,9290.0,9417.0,8974.0
4,Massachusetts,11804.0,11887.0,11941.0,10293.0,9697.0,9582.0,8870.0,9519.0,9773.0,9616.0,10069.0,10482.0,10844.0
5,New Hampshire,10333.0,10250.0,9549.0,8111.0,8232.0,8699.0,8953.0,8202.0,8917.0,9395.0,9945.0,9839.0,10142.0
6,Rhode Island,11074.0,10848.0,10660.0,10878.0,10697.0,10781.0,10754.0,9886.0,9179.0,9068.0,8967.0,9230.0,9468.0
7,Vermont,7788.0,7689.0,7532.0,7444.0,7994.0,8765.0,8729.0,8476.0,8103.0,8436.0,9126.0,9622.0,9405.0
9,Delaware,6659.0,6560.0,6291.0,6333.0,6876.0,6744.0,6868.0,6709.0,6955.0,7793.0,7774.0,8163.0,7973.0
10,District of Columbia,10141.0,10694.0,10165.0,9937.0,9170.0,9493.0,8833.0,9132.0,9528.0,9328.0,9222.0,9685.0,10588.0
11,Maryland,8513.0,8434.0,8198.0,7797.0,7426.0,7441.0,7543.0,7430.0,8044.0,7667.0,7956.0,8201.0,7838.0
12,New Jersey,10770.0,10617.0,10304.0,10068.0,9353.0,9421.0,7914.0,7449.0,7563.0,7659.0,7971.0,8928.0,8828.0
13,New York,10685.0,10561.0,10108.0,10275.0,9800.0,9506.0,9910.0,9439.0,9754.0,11070.0,11115.0,10966.0,10747.0
14,Pennsylvania,8207.0,8052.0,8445.0,8502.0,8545.0,8778.0,9193.0,8253.0,8537.0,8016.0,9384.0,9516.0,9052.0
16,Illinois,5302.0,5922.0,6157.0,4974.0,4937.0,5723.0,4876.0,5213.0,4847.0,5258.0,5339.0,5736.0,7044.0
17,Indiana,6948.0,6277.0,6024.0,5887.0,7602.0,6893.0,8148.0,7236.0,7021.0,7168.0,7551.0,8380.0,8248.0
18,Michigan,5711.0,5626.0,5549.0,5525.0,5852.0,6117.0,5810.0,5865.0,6063.0,6087.0,5729.0,6359.0,6182.0
19,Ohio,7161.0,7408.0,7190.0,7190.0,6747.0,7103.0,6877.0,6555.0,6533.0,6791.0,6901.0,7524.0,7738.0
20,Wisconsin,5675.0,7019.0,5926.0,5704.0,6134.0,6486.0,6919.0,6984.0,6929.0,7180.0,7524.0,7949.0,7727.0
22,Iowa,7101.0,6837.0,6597.0,6686.0,6791.0,6751.0,6481.0,6547.0,5869.0,5250.0,6105.0,6647.0,6161.0
23,Kansas,7928.0,7972.0,7079.0,7370.0,6980.0,6657.0,6621.0,6922.0,6862.0,7375.0,7777.0,8624.0,8521.0
24,Minnesota,9859.0,9765.0,9747.0,8983.0,9088.0,9544.0,8967.0,8057.0,8184.0,9189.0,10036.0,10257.0,10219.0
25,Missouri,8260.0,8695.0,8442.0,8317.0,9015.0,9271.0,9250.0,8567.0,8094.0,8153.0,8644.0,9827.0,9428.0
26,Nebraska,8222.0,8174.0,8086.0,7721.0,8070.0,7661.0,7825.0,8105.0,8068.0,8297.0,8283.0,8517.0,8723.0
27,North Dakota,9616.0,9685.0,10456.0,10561.0,11325.0,11906.0,12266.0,12412.0,12192.0,12272.0,12489.0,12820.0,12314.0
28,South Dakota,6680.0,6908.0,7004.0,6484.0,6654.0,6945.0,6915.0,6874.0,7029.0,7629.0,7553.0,7814.0,7867.0
30,Alabama,5051.0,5136.0,5795.0,4802.0,5064.0,4834.0,4957.0,4879.0,4596.0,5015.0,5195.0,5402.0,5231.0
31,Arkansas,5552.0,5816.0,6279.0,6370.0,6555.0,6653.0,5994.0,5331.0,6125.0,6156.0,6799.0,7304.0,6987.0
32,Florida,5727.0,5351.0,5535.0,5214.0,5045.0,4948.0,5087.0,4648.0,4756.0,4965.0,5325.0,5518.0,5481.0
33,Georgia,5266.0,4733.0,4924.0,5006.0,4946.0,5087.0,5112.0,4750.0,4740.0,4876.0,4940.0,4921.0,4704.0
34,Kentucky,6464.0,7090.0,6931.0,6815.0,6641.0,6834.0,6994.0,6829.0,6181.0,6417.0,6660.0,7137.0,7210.0
35,Louisiana,6188.0,6311.0,6155.0,5848.0,5884.0,6186.0,6176.0,5949.0,5969.0,6336.0,6535.0,7034.0,7111.0
36,Mississippi,5611.0,5821.0,6430.0,6404.0,6514.0,6663.0,6579.0,6184.0,6406.0,6305.0,6587.0,6900.0,6663.0
37,North Carolina,7230.0,7448.0,6525.0,6727.0,6661.0,6748.0,6840.0,6678.0,5815.0,6414.0,6566.0,6543.0,6759.0
38,South Carolina,6131.0,6488.0,6264.0,5476.0,5125.0,4875.0,5396.0,5375.0,5205.0,5035.0,5199.0,5320.0,5345.0
39,Tennessee,5175.0,5072.0,5721.0,5406.0,5799.0,6032.0,5590.0,5380.0,4785.0,4969.0,5486.0,6214.0,5701.0
40,Virginia,6981.0,7005.0,7134.0,7331.0,6978.0,7259.0,7226.0,7311.0,7199.0,7545.0,7271.0,8154.0,7680.0
41,West Virginia,6452.0,6827.0,6890.0,7052.0,7675.0,7827.0,6439.0,6028.0,5583.0,6189.0,6343.0,6506.0,6556.0
43,Arizona,5535.0,5600.0,6411.0,6209.0,5293.0,5446.0,5925.0,5673.0,5446.0,5836.0,6127.0,6725.0,7122.0
44,New Mexico,6371.0,6311.0,5884.0,5441.0,5333.0,5315.0,5326.0,5302.0,4821.0,4698.0,5049.0,5342.0,5700.0
45,Oklahoma,6251.0,6146.0,5841.0,5767.0,6228.0,6170.0,6425.0,6464.0,6624.0,6680.0,7054.0,7631.0,7045.0
46,Texas,6161.0,6526.0,6638.0,6559.0,6207.0,6568.0,7124.0,7333.0,7438.0,7155.0,7622.0,7978.0,8071.0
48,Colorado,7110.0,6976.0,7183.0,7111.0,7534.0,7982.0,7023.0,6947.0,6540.0,6838.0,8296.0,8824.0,8366.0
49,Idaho,6965.0,7041.0,7660.0,6046.0,6873.0,7247.0,7007.0,6842.0,6462.0,6643.0,7702.0,8437.0,8127.0
50,Montana,9409.0,9584.0,9545.0,7623.0,8693.0,8627.0,9201.0,8737.0,6881.0,7305.0,6880.0,7310.0,7888.0
51,Utah,7024.0,6762.0,6340.0,6261.0,6484.0,6945.0,6377.0,6133.0,6708.0,7216.0,7581.0,9056.0,8877.0
52,Wyoming,8161.0,7983.0,7453.0,7450.0,7784.0,8026.0,7546.0,8060.0,8477.0,9097.0,9543.0,10052.0,9825.0
54,Alaska,10702.0,11330.0,10666.0,11285.0,11743.0,11358.0,11605.0,11428.0,11159.0,9976.0,9598.0,9785.0,8468.0
55,California,4469.0,4531.0,4700.0,4895.0,5385.0,5850.0,5161.0,6500.0,7164.0,6644.0,6556.0,7179.0,7929.0
56,Hawaii,6065.0,5338.0,5837.0,5719.0,4937.0,5538.0,5805.0,5365.0,5316.0,5345.0,5301.0,5688.0,5291.0
57,Nevada,6286.0,5781.0,5229.0,4855.0,5599.0,5043.0,5373.0,5766.0,5556.0,5823.0,6226.0,6986.0,6074.0
58,Oregon,7496.0,7681.0,7128.0,6693.0,6651.0,7513.0,7057.0,6713.0,6866.0,7421.0,8232.0,8622.0,8377.0
59,Washington,6117.0,5898.0,5855.0,5855.0,6141.0,6185.0,5744.0,5545.0,5719.0,5746.0,6173.0,6627.0,6876.0

In [61]:
# Convert columns to a `int` data type.
newAid_df['2008.0'] = newAid_df['2008.0'].astype(int)
newAid_df['2009.0'] = newAid_df['2009.0'].astype(int)
newAid_df['2010.0'] = newAid_df['2010.0'].astype(int)
newAid_df['2011.0'] = newAid_df['2011.0'].astype(int)
newAid_df['2012.0'] = newAid_df['2012.0'].astype(int)
newAid_df['2013.0'] = newAid_df['2013.0'].astype(int)
newAid_df['2014.0'] = newAid_df['2014.0'].astype(int)
newAid_df['2015.0'] = newAid_df['2015.0'].astype(int)
newAid_df['2016.0'] = newAid_df['2016.0'].astype(int)
newAid_df['2017.0'] = newAid_df['2017.0'].astype(int)
newAid_df['2018.0'] = newAid_df['2018.0'].astype(int)
newAid_df['2019.0'] = newAid_df['2019.0'].astype(int)
newAid_df['2020.0'] = newAid_df['2020.0'].astype(int)
newAid_df.head()

,Region/state of residence,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
2,Connecticut,9936,10800,9156,8605,9344,8785,8015,8089,7682,7521,7792,7517,7386
3,Maine,7177,7936,6098,6742,7077,7824,7357,7894,8070,8729,9290,9417,8974
4,Massachusetts,11804,11887,11941,10293,9697,9582,8870,9519,9773,9616,10069,10482,10844
5,New Hampshire,10333,10250,9549,8111,8232,8699,8953,8202,8917,9395,9945,9839,10142
6,Rhode Island,11074,10848,10660,10878,10697,10781,10754,9886,9179,9068,8967,9230,9468

In [62]:
print(newAid_df.columns)

Index(['Region/state of residence', '2008.0', '2009.0', '2010.0', '2011.0',
       '2012.0', '2013.0', '2014.0', '2015.0', '2016.0', '2017.0', '2018.0',
       '2019.0', '2020.0'],
      dtype='object')

In [63]:
columnHeadchgAid=newAid_df.rename(columns={newAid_df.columns[0]:'State', newAid_df.columns[1]:'2008',
                         newAid_df.columns[2]:'2009',newAid_df.columns[3]:'2010',newAid_df.columns[4]:'2011',
                         newAid_df.columns[5]:'2012',newAid_df.columns[6]:'2013',newAid_df.columns[7]:'2014',
                         newAid_df.columns[8]:'2015',newAid_df.columns[9]:'2016',newAid_df.columns[10]:'2017',
                         newAid_df.columns[11]:'2018',newAid_df.columns[12]:'2019',newAid_df.columns[13]:'2020'})
columnHeadchgAid.head()

,State,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
2,Connecticut,9936,10800,9156,8605,9344,8785,8015,8089,7682,7521,7792,7517,7386
3,Maine,7177,7936,6098,6742,7077,7824,7357,7894,8070,8729,9290,9417,8974
4,Massachusetts,11804,11887,11941,10293,9697,9582,8870,9519,9773,9616,10069,10482,10844
5,New Hampshire,10333,10250,9549,8111,8232,8699,8953,8202,8917,9395,9945,9839,10142
6,Rhode Island,11074,10848,10660,10878,10697,10781,10754,9886,9179,9068,8967,9230,9468

In [64]:
sorted_finalAid=columnHeadchgAid.sort_values('State')
sorted_finalAid

,State,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
30,Alabama,5051,5136,5795,4802,5064,4834,4957,4879,4596,5015,5195,5402,5231
54,Alaska,10702,11330,10666,11285,11743,11358,11605,11428,11159,9976,9598,9785,8468
43,Arizona,5535,5600,6411,6209,5293,5446,5925,5673,5446,5836,6127,6725,7122
31,Arkansas,5552,5816,6279,6370,6555,6653,5994,5331,6125,6156,6799,7304,6987
55,California,4469,4531,4700,4895,5385,5850,5161,6500,7164,6644,6556,7179,7929
48,Colorado,7110,6976,7183,7111,7534,7982,7023,6947,6540,6838,8296,8824,8366
2,Connecticut,9936,10800,9156,8605,9344,8785,8015,8089,7682,7521,7792,7517,7386
9,Delaware,6659,6560,6291,6333,6876,6744,6868,6709,6955,7793,7774,8163,7973
10,District of Columbia,10141,10694,10165,9937,9170,9493,8833,9132,9528,9328,9222,9685,10588
32,Florida,5727,5351,5535,5214,5045,4948,5087,4648,4756,4965,5325,5518,5481
33,Georgia,5266,4733,4924,5006,4946,5087,5112,4750,4740,4876,4940,4921,4704
56,Hawaii,6065,5338,5837,5719,4937,5538,5805,5365,5316,5345,5301,5688,5291
49,Idaho,6965,7041,7660,6046,6873,7247,7007,6842,6462,6643,7702,8437,8127
16,Illinois,5302,5922,6157,4974,4937,5723,4876,5213,4847,5258,5339,5736,7044
17,Indiana,6948,6277,6024,5887,7602,6893,8148,7236,7021,7168,7551,8380,8248
22,Iowa,7101,6837,6597,6686,6791,6751,6481,6547,5869,5250,6105,6647,6161
23,Kansas,7928,7972,7079,7370,6980,6657,6621,6922,6862,7375,7777,8624,8521
34,Kentucky,6464,7090,6931,6815,6641,6834,6994,6829,6181,6417,6660,7137,7210
35,Louisiana,6188,6311,6155,5848,5884,6186,6176,5949,5969,6336,6535,7034,7111
3,Maine,7177,7936,6098,6742,7077,7824,7357,7894,8070,8729,9290,9417,8974
11,Maryland,8513,8434,8198,7797,7426,7441,7543,7430,8044,7667,7956,8201,7838
4,Massachusetts,11804,11887,11941,10293,9697,9582,8870,9519,9773,9616,10069,10482,10844
18,Michigan,5711,5626,5549,5525,5852,6117,5810,5865,6063,6087,5729,6359,6182
24,Minnesota,9859,9765,9747,8983,9088,9544,8967,8057,8184,9189,10036,10257,10219
36,Mississippi,5611,5821,6430,6404,6514,6663,6579,6184,6406,6305,6587,6900,6663
25,Missouri,8260,8695,8442,8317,9015,9271,9250,8567,8094,8153,8644,9827,9428
50,Montana,9409,9584,9545,7623,8693,8627,9201,8737,6881,7305,6880,7310,7888
26,Nebraska,8222,8174,8086,7721,8070,7661,7825,8105,8068,8297,8283,8517,8723
57,Nevada,6286,5781,5229,4855,5599,5043,5373,5766,5556,5823,6226,6986,6074
5,New Hampshire,10333,10250,9549,8111,8232,8699,8953,8202,8917,9395,9945,9839,10142
12,New Jersey,10770,10617,10304,10068,9353,9421,7914,7449,7563,7659,7971,8928,8828
44,New Mexico,6371,6311,5884,5441,5333,5315,5326,5302,4821,4698,5049,5342,5700
13,New York,10685,10561,10108,10275,9800,9506,9910,9439,9754,11070,11115,10966,10747
37,North Carolina,7230,7448,6525,6727,6661,6748,6840,6678,5815,6414,6566,6543,6759
27,North Dakota,9616,9685,10456,10561,11325,11906,12266,12412,12192,12272,12489,12820,12314
19,Ohio,7161,7408,7190,7190,6747,7103,6877,6555,6533,6791,6901,7524,7738
45,Oklahoma,6251,6146,5841,5767,6228,6170,6425,6464,6624,6680,7054,7631,7045
58,Oregon,7496,7681,7128,6693,6651,7513,7057,6713,6866,7421,8232,8622,8377
14,Pennsylvania,8207,8052,8445,8502,8545,8778,9193,8253,8537,8016,9384,9516,9052
6,Rhode Island,11074,10848,10660,10878,10697,10781,10754,9886,9179,9068,8967,9230,9468
38,South Carolina,6131,6488,6264,5476,5125,4875,5396,5375,5205,5035,5199,5320,5345
28,South Dakota,6680,6908,7004,6484,6654,6945,6915,6874,7029,7629,7553,7814,7867
39,Tennessee,5175,5072,5721,5406,5799,6032,5590,5380,4785,4969,5486,6214,5701
46,Texas,6161,6526,6638,6559,6207,6568,7124,7333,7438,7155,7622,7978,8071
51,Utah,7024,6762,6340,6261,6484,6945,6377,6133,6708,7216,7581,9056,8877
7,Vermont,7788,7689,7532,7444,7994,8765,8729,8476,8103,8436,9126,9622,9405
40,Virginia,6981,7005,7134,7331,6978,7259,7226,7311,7199,7545,7271,8154,7680
59,Washington,6117,5898,5855,5855,6141,6185,5744,5545,5719,5746,6173,6627,6876
41,West Virginia,6452,6827,6890,7052,7675,7827,6439,6028,5583,6189,6343,6506,6556
20,Wisconsin,5675,7019,5926,5704,6134,6486,6919,6984,6929,7180,7524,7949,7727
52,Wyoming,8161,7983,7453,7450,7784,8026,7546,8060,8477,9097,9543,10052,9825

In [65]:
new_csvAid = sorted_finalAid.to_csv('cleaned_Medicaid.csv',encoding='utf-8', index=False)

In [66]:
read_csvAid = pd.read_csv('cleaned_Medicaid.csv')
read_csvAid

,State,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Alabama,5051,5136,5795,4802,5064,4834,4957,4879,4596,5015,5195,5402,5231
1,Alaska,10702,11330,10666,11285,11743,11358,11605,11428,11159,9976,9598,9785,8468
2,Arizona,5535,5600,6411,6209,5293,5446,5925,5673,5446,5836,6127,6725,7122
3,Arkansas,5552,5816,6279,6370,6555,6653,5994,5331,6125,6156,6799,7304,6987
4,California,4469,4531,4700,4895,5385,5850,5161,6500,7164,6644,6556,7179,7929
5,Colorado,7110,6976,7183,7111,7534,7982,7023,6947,6540,6838,8296,8824,8366
6,Connecticut,9936,10800,9156,8605,9344,8785,8015,8089,7682,7521,7792,7517,7386
7,Delaware,6659,6560,6291,6333,6876,6744,6868,6709,6955,7793,7774,8163,7973
8,District of Columbia,10141,10694,10165,9937,9170,9493,8833,9132,9528,9328,9222,9685,10588
9,Florida,5727,5351,5535,5214,5045,4948,5087,4648,4756,4965,5325,5518,5481
10,Georgia,5266,4733,4924,5006,4946,5087,5112,4750,4740,4876,4940,4921,4704
11,Hawaii,6065,5338,5837,5719,4937,5538,5805,5365,5316,5345,5301,5688,5291
12,Idaho,6965,7041,7660,6046,6873,7247,7007,6842,6462,6643,7702,8437,8127
13,Illinois,5302,5922,6157,4974,4937,5723,4876,5213,4847,5258,5339,5736,7044
14,Indiana,6948,6277,6024,5887,7602,6893,8148,7236,7021,7168,7551,8380,8248
15,Iowa,7101,6837,6597,6686,6791,6751,6481,6547,5869,5250,6105,6647,6161
16,Kansas,7928,7972,7079,7370,6980,6657,6621,6922,6862,7375,7777,8624,8521
17,Kentucky,6464,7090,6931,6815,6641,6834,6994,6829,6181,6417,6660,7137,7210
18,Louisiana,6188,6311,6155,5848,5884,6186,6176,5949,5969,6336,6535,7034,7111
19,Maine,7177,7936,6098,6742,7077,7824,7357,7894,8070,8729,9290,9417,8974
20,Maryland,8513,8434,8198,7797,7426,7441,7543,7430,8044,7667,7956,8201,7838
21,Massachusetts,11804,11887,11941,10293,9697,9582,8870,9519,9773,9616,10069,10482,10844
22,Michigan,5711,5626,5549,5525,5852,6117,5810,5865,6063,6087,5729,6359,6182
23,Minnesota,9859,9765,9747,8983,9088,9544,8967,8057,8184,9189,10036,10257,10219
24,Mississippi,5611,5821,6430,6404,6514,6663,6579,6184,6406,6305,6587,6900,6663
25,Missouri,8260,8695,8442,8317,9015,9271,9250,8567,8094,8153,8644,9827,9428
26,Montana,9409,9584,9545,7623,8693,8627,9201,8737,6881,7305,6880,7310,7888
27,Nebraska,8222,8174,8086,7721,8070,7661,7825,8105,8068,8297,8283,8517,8723
28,Nevada,6286,5781,5229,4855,5599,5043,5373,5766,5556,5823,6226,6986,6074
29,New Hampshire,10333,10250,9549,8111,8232,8699,8953,8202,8917,9395,9945,9839,10142
30,New Jersey,10770,10617,10304,10068,9353,9421,7914,7449,7563,7659,7971,8928,8828
31,New Mexico,6371,6311,5884,5441,5333,5315,5326,5302,4821,4698,5049,5342,5700
32,New York,10685,10561,10108,10275,9800,9506,9910,9439,9754,11070,11115,10966,10747
33,North Carolina,7230,7448,6525,6727,6661,6748,6840,6678,5815,6414,6566,6543,6759
34,North Dakota,9616,9685,10456,10561,11325,11906,12266,12412,12192,12272,12489,12820,12314
35,Ohio,7161,7408,7190,7190,6747,7103,6877,6555,6533,6791,6901,7524,7738
36,Oklahoma,6251,6146,5841,5767,6228,6170,6425,6464,6624,6680,7054,7631,7045
37,Oregon,7496,7681,7128,6693,6651,7513,7057,6713,6866,7421,8232,8622,8377
38,Pennsylvania,8207,8052,8445,8502,8545,8778,9193,8253,8537,8016,9384,9516,9052
39,Rhode Island,11074,10848,10660,10878,10697,10781,10754,9886,9179,9068,8967,9230,9468
40,South Carolina,6131,6488,6264,5476,5125,4875,5396,5375,5205,5035,5199,5320,5345
41,South Dakota,6680,6908,7004,6484,6654,6945,6915,6874,7029,7629,7553,7814,7867
42,Tennessee,5175,5072,5721,5406,5799,6032,5590,5380,4785,4969,5486,6214,5701
43,Texas,6161,6526,6638,6559,6207,6568,7124,7333,7438,7155,7622,7978,8071
44,Utah,7024,6762,6340,6261,6484,6945,6377,6133,6708,7216,7581,9056,8877
45,Vermont,7788,7689,7532,7444,7994,8765,8729,8476,8103,8436,9126,9622,9405
46,Virginia,6981,7005,7134,7331,6978,7259,7226,7311,7199,7545,7271,8154,7680
47,Washington,6117,5898,5855,5855,6141,6185,5744,5545,5719,5746,6173,6627,6876
48,West Virginia,6452,6827,6890,7052,7675,7827,6439,6028,5583,6189,6343,6506,6556
49,Wisconsin,5675,7019,5926,5704,6134,6486,6919,6984,6929,7180,7524,7949,7727
50,Wyoming,8161,7983,7453,7450,7784,8026,7546,8060,8477,9097,9543,10052,9825

In [67]:
print(read_csvAid.columns)

Index(['State', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020'],
      dtype='object')

In [68]:
read_csvAid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   State   51 non-null     object
 1   2008    51 non-null     int64
 2   2009    51 non-null     int64
 3   2010    51 non-null     int64
 4   2011    51 non-null     int64
 5   2012    51 non-null     int64
 6   2013    51 non-null     int64
 7   2014    51 non-null     int64
 8   2015    51 non-null     int64
 9   2016    51 non-null     int64
 10  2017    51 non-null     int64
 11  2018    51 non-null     int64
 12  2019    51 non-null     int64
 13  2020    51 non-null     int64
dtypes: int64(13), object(1)
memory usage: 5.7+ KB